<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Estro • Configuratore | Ilmas S.p.A.</title>
    <meta name="description" content="Un sistema di illuminazione lineare con il quale si possono realizzare una serie infinita di composizioni, totalmente customizzabili">
   
   <!-- consent mode attivo -->
   <script>
    // Initialize the data layer for Google Tag Manager (this should mandatorily be done before the Cookie Solution is loaded)
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    // Default consent mode is "denied" for both ads and analytics, but delay for 2 seconds until the Cookie Solution is loaded
    gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
        wait_for_update: 2000 // milliseconds
    });
    // Improve ad click measurement quality (optional)
    gtag('set', 'url_passthrough', true);
    // Further redact your ads data (optional)
    gtag("set", "ads_data_redaction", true);
  </script>

    <!-- Google Analytics GA4-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6E91RDSWZ3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6E91RDSWZ3');
    </script>
  </head>

    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {"invalidateConsentWithoutLog":true,"perPurposeConsent":true,"whitelabel":false,"lang":"it","siteId":267623,"floatingPreferencesButtonDisplay":"bottom-left","cookiePolicyId":443079, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"rejectButtonDisplay":true,"listPurposes":true,"explicitWithdrawal":true,"position":"top","backgroundOverlay":true }};
      </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
  
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
