@import "https://fonts.googleapis.com/css?family=Roboto:400,700,900";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* --------------------------
* ### BUTTONS
* -------------------------- */

.btn {
    border-radius: 0.15em;
}

.btn-primary {
    background-color: #BE1622;
    border-color: #BE1622;
}

.btn-primary:hover {
    background-color: #9b101a;
    border-color: #9b101a;
}

.btn-primary:focus, 
.btn-primary.focus {
    color: #fff;
    background-color: #9b101a;
    border-color: #9b101a;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #BE1622;
    border-color: #BE1622;
}

.btn-outline-primary {
    color: #BE1622;
    border-color: #BE1622;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, 
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #BE1622;
    border-color: #BE1622;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #BE1622;
    border-color: #BE1622;
}

.btn-primary.disabled, 
.btn-primary:disabled {
    color: #fff;
    background-color: #666;
    border-color: #666;
}

.btn-link {
    color: #BE1622;
    border: none;
    text-decoration: underline;
    background: transparent;
}

.btn-link:hover {
    color: #8e0f17;
    border: none;
    text-decoration: underline;
    background: transparent;
}

.btn-xs {
    font-size: 0.75em;
}

.text-red {
    color: #BE1622;
}

/* --------------------------
* ### LINK
* -------------------------- */

.linkClick:active {
    position: relative;
    top: 1px;
    left: 1px;
}

/* --------------------------
* ### SPACING
* -------------------------- */

.mt--1 {
    margin-top: -0.5em;
}
