label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #BE1622;
     border: 1px solid #BE1622;
}

 .card-input {
    border-radius: 0.5em;
    border: 1px solid #fff;
    padding: 0.5em;
    margin: 0.5em 0;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,1);
    font-size: 0.90em;
}

.card-input:hover {
    cursor: pointer;
}

.card-image {
    padding-left: 0;
}

.card-image img {
    border-radius: 0.5em;
}

.card-text {
    color: #3f3f3f;
}

.card-text h3 {
    font-weight: 700;
    font-size: 1.2em;
    color: #3f3f3f;
}

.card-text span {
    text-transform: lowercase;
}


@media screen and (min-width: 768px) {
    .card {
        border-radius: 1em;
        padding: 1em;
    }
    .card-text h3 {
        font-weight: 700;
        font-size: 1.4em;
    }
}

/** CARD SMALL SOLO TESTO **/

.card-option-one {
    width: 140px;
    float: left;
    margin: 0 0.5em;
    position: relative;
}

.card-option-one .card-input {
    padding: 1em;
}

.card-option-one .card-input-h100 {
    height: 100px;
}

.card-option-one h3 {
    color: #3f3f3f;
    padding: 0;
    font-size: 1.3em;
    font-weight: 400!important;
    margin-bottom: 0px!important
}

.card-option-info {
    position: absolute;
    left: 170px;
    top: 25px;
    font-size: 0.85em;
}

/** CARD MEDIUM **/

.card-option-two {
    width: 280px;
    float: left;
    margin: 0 0.5em;
}

.card-option-two .card-input {
    padding: 1em;
}

.card-option-two h3 {
    color: #3f3f3f;
    padding: 0;
    font-weight: 400!important;
    margin-bottom: 0.5em!important
}

.card-option-two .card-text span {
    text-transform: initial!important;
}

.card-color div {
    border: 1px solid rgb(223, 222, 222);
    height: 40px;
}

.card-color-null div {
    border: 1px solid rgb(223, 222, 222);
    height: 40px;
    position: relative;
}

.card-color-null div:after {
    content: " ";
    position: absolute;
    height: 3px;
    width: 101%;
    border-bottom: 1px solid red;
    transform: skewY(24deg);
    top: 16px;
}

/** MESSAGGI INFORMATIVI **/

.card-info {
    color: #666;
}
.card-info p {
    font-size: 0.85em;
    line-height: 1.3;
    margin-top: 0.5em;
}

/** CARD MEDIUM IMAGE + TEXT **/

.card-option-three {
    width: 135px;
    float: left;
    margin: 0.5em 0.5em;
}
.card-option-three img {
    border-radius: 0.5em;
}
.card-option-three .card-image-full {
    height: 165px;
}
.card-option-three h3 {
    color: #3f3f3f;
    padding: 0;
    font-size: 1.2em;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em!important
}

@media screen and (min-width: 375px) {
    .card-option-three {
        width: 160px;
    }
}

@media screen and (min-width: 768px) {
    .card-option-three {
        width: 180px;
    }
}
