@media (min-width: 1300px) {
    .col-xxl-4 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-2 {
        -ms-flex: 0 0 16.6%;
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }
}

@media (min-width: 1800px) {
    .col-xxxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}