.input-group-lg >.form-control, 
.input-group-lg > .custom-select, 
.input-group-lg > .input-group-prepend > .input-group-text, 
.input-group-lg > .input-group-append > .input-group-text, 
.input-group-lg > .input-group-prepend > .btn, 
.input-group-lg > .input-group-append > .btn {
  padding: 1.5em 1em;
}

.step-input span {
  margin-left: 1em;
  line-height: 4em;
}

.step-input input::placeholder,
.form-inline input::placeholder{
  text-align: left;
  color: #999;
  font-style: italic;
}
