.header {
  background-image: linear-gradient(to right,#ccc 0, #f7f7f7 100%);
  position: relative;
}

.logo {
  display: flex;
  position: relative;
}

.logo__image {
  width: 80px;
}

.logo__text h1 {
  display: none;
}

.link-backsite {
  font-size: 0.65em;
  margin-top: 0.35em;
}

.switch-lang {
  position: relative;
  top: 0;
  left: 0px;
}

.switch-lang select {
  width: 60px;
  height: 30px;
  text-transform: uppercase;
  padding-left: 0.5em;
  font-size: 1em;
}


@media screen and (min-width: 375px) {
  .logo__image {
    width: 100px;
  }

  .link-backsite {
    font-size: 0.75em;
    margin-top: 0.35em;
  }
}

@media screen and (min-width: 440px) {
  .logo__text h1 {
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.2em;
  }
}

@media screen and (min-width: 991px) {
    .logo {
      display: flex;
      margin-top: 0;
    }
    .logo__image {
      width: 130px;
    }
    .logo__text h1 {
      display: inline-block;
      font-size: 2.2em;
      font-weight: 700;
      line-height: 1em;
      margin: 0 0.25em;
    }
    .link-backsite {
      font-size: 0.95em;
      top: 2em;
      right: 2em;
    }
}