.wrapper {
    /*display: flex;*/
    width: 100%;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    top: 0;
    left: 0;
}

#footer {
    width: 100%;
    min-height: 3vh;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
}

#sidebar-right {
    width: 280px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
    background: #fafafa;
    color: #000;
    transition: all 0.3s;
    -webkit-box-shadow: -1px 1px 10px -1px #878787; 
    box-shadow: -1px 1px 10px -1px #878787;
    margin-right: -280px;
}

#sidebarCollapse {
    position: fixed;
    z-index: 8;
    right: 235px;
    top: 130px;
    transform:rotate(270deg);
    transition: all 0.3s;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#sidebar-wrapper #sidebarCollapse {
    right: -45px;
} 
#sidebar-wrapper.active #sidebarCollapse {
    right: 233px;
} 

#sidebar-wrapper {
    display: none;
}


#close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    background: transparent;
    padding: 20px;
}

#close span::before,
#close span::after {
    content: "";
    display: block;
    height: 2px;
    width: 24px;
    background: #000;
    position: absolute;
    left: 7px;
}

#close span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#close span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(45deg);
}

#sidebar-right .sidebar__content h3 {
    margin-bottom: 0.25em;
}
#sidebar-right .sidebar__content p {
    font-size: 0.70em;
    line-height: 1.5;
}

p.profile-info {
    line-height: 1.2;
}

.sidebar-foto {
    border: 1px solid rgb(230, 228, 228);
}


@media (min-width: 768px) {
    #content.active {
        width: calc(100% - 400px);
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
    }
    #content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
    }
    #footer {
        min-height: 3vh;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #sidebar-wrapper {
        display: block;
    }
    #sidebar-right  {
        width: 400px;
        margin-right: 0px;
    }
    #sidebar-right.active {
        margin-right: -400px;
    }
    #sidebarCollapse {
        position: fixed;
        z-index: 8;
        right: -45px;
        top: 130px;
        transform:rotate(270deg);
        transition: all 0.3s;
        text-transform: uppercase;
        letter-spacing: 2px;
    } 
    #sidebar-wrapper #sidebarCollapse {
        right: -45px;
    } 
    #sidebar-wrapper.active #sidebarCollapse {
        right: 355px;
    } 
    #close {
        display: none;
    }

    #sidebar-right .sidebar__content p {
        font-size: 0.85em;
    }
    #sidebar-right.b-sidebar {
        margin: 0 !important;
    }

}
