.stepper,.stepper-inner {
    position: relative;
}

.stepper-count {
    background: #eee;
}

.stepper-count-inner {
    width: 95%;
}

.stepper .progress {
    position: absolute;
    top: 2em;
    height: 1px;
    margin: 0;
    box-shadow: none;
    background-color: #b8b8b8;
}

.stepper .progress .progress-bar {
    background-color: #383838;
}

.stepper .step {
    text-align: center;
    z-index: 2;
}

.stepper .step .step-number {
    background-color: #cdcdcd;
    padding: 0.5em;
    color: white;
    border-radius: 2em;
    background-size: 0% 0%;
    background-position: center;
    background-image: radial-gradient(circle at center, #BE1622 50%, transparent 50%);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-height: 0.9em;
}

.stepper .step.current .step-number {
    background-size: 200% 200%;
    transition: all 0.4s 0.5s;
    background-image: radial-gradient(circle at center, #eee 50%, transparent 50%);
    border: 1px solid #BE1622;
    color: #BE1622;
    font-weight: 700;
}

.stepper .step.done .step-number {
    background-color: #BE1622;
}

.stepper .step .step-label {
    display: none;
}

.stepper-content {
    position: relative;
}

.stepper-direction {
    position: fixed;
    bottom: 0em;
    right: 0;
    float: right;
}

.stepper-direction-inner {
    background: #e2e2e2d9;
    width: 400px;
    height: 85px;
    padding-top: 1em;
}

.pulse-button {
    position: relative;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    background-color: #BE1622;
    cursor: pointer;
    -webkit-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.75ss infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 1em;
}

@media screen and (min-width:576px) {
    .pulse-button {
        font-size: 1.3em;
    }
}


  .pulse-button:hover
  .btn-primary.disabled, .btn-primary:disabled
  {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.stepper .stepper-reset {
    position: absolute;
    right: 0em;
    top: 3em;
    background: #eee;
    padding: 1.2em 0.5em 0.5em;
    z-index: 6;
}

.stepper .stepper-reset button{
    outline: none;
}



@media screen and (min-width:576px) {
    .stepper .step .step-label {
        display: block;
        padding-top: 5px;
        text-transform: uppercase;
        font-size: 0.75em;
    }
    .stepper .stepper-reset {
        position: absolute;
        right: 0em;
        top: 4.5em;
        background: #eee;
        padding: 1.2em 0.5em 0.5em;
    }
}

@media screen and (min-width:768px) {
    #content.active .stepper-direction {
        position: fixed;
        right: 400px;
    }  
    #content .stepper-direction {
        position: fixed;
        right: 0;
    }  
    .stepper .stepper-reset {
        position: absolute;
        right: 2em;
        top: 4.5em;
        background: #eee;
        padding: 1.2em 0.5em 0.5em;
    }
}

@media screen and (min-width:1440px) {
    .stepper-count-inner {
        width: 50%;
    }
    .stepper .stepper-reset {
        position: absolute;
        right: 2.2em;
        top: 0em;
        background: #eee;
        padding: 1.8em;
    }
}


