.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h2, .h2 {
    font-size: 1.3em;
}

h4, .h4 {
    font-size: 1.1em;
}


@media screen and (min-width: 991px) { 
    h2, .h2 {
        font-size: 1.8em;
    }
    h4, .h4 {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1200px) { 
    h2, .h2 {
        font-size: 2.2em;
    }
}

.text-yellow {
    color: #FFC400;
}

.text-help {
    color: #888;
    font-style: italic;
}