<template>
   <div class="p-3 p-md-4 mt-2 mt-md-3">
        <div class="row mb-4 mb-md-5">
            <div class="col-12">
                <h2>{{$t('message.chooseApplication')}}</h2>
            </div>
        </div>
        <div class="row">
            <!-- QUESTO BLOCCO VA RIPETUTO -->
            <div v-for="el in elements" :key="el._id" 
                class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-6 col-xxl-4 col-xxxl-3">
                <div class="card-option">
                    <label >
                        <input type="radio" name="applicazione" class="card-input-element" @click="setSelected(el)"
                            :checked="conditionChecked(el)"/>
                        <div class="card-input row">
                            <div class="card-image col-3 col-sm-5">
                                <img class="img-fluid" :src="getImage(el.foto)" alt="">
                            </div>
                            <div class="card-text text-uppercase col-9 col-sm-7 pl-0">
                                <h3 v-if="$i18n.locale === 'it'" class="mb-2">{{el.nome}}</h3>
                                <h3 v-else class="mb-2">{{el.nome_en}}</h3>
                                <span v-if="$i18n.locale === 'it'" class="pb-0">{{el.descrizione}}</span>
                                <span v-else class="pb-0">{{el.descrizione_en}}</span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Applicazione',
  data: () => ({     
    elements: {}
  }),

  mounted() {
    this.getApplicazioni();
  },

  computed: {
    
    getCurrentPath(){
      return this.$store.getters.getCurrentPath;
    },
    getIdProfili(){
      return this.$store.getters.getIdProfili;
    },
    getApplicazione(){
      return this.$store.getters.getApplicazione;
    },
  },

  methods: {
    conditionChecked(element){
      let flag = false;      
      const jsonStore = this.getApplicazione;
      /* eslint-disable no-underscore-dangle */
      if (element._id === jsonStore._id) flag = true;
      else flag = false;

      return flag;
    },
    setSelected(element){
      this.$store.commit('setApplicazione', JSON.stringify(element));
      //this.$store.commit('setCurrentStep', 2);
      if (element.nome === 'Profili slim') {
        sessionStorage.setItem('id_slim', element._id);
        this.$store.commit('setCurrentStep', 2);
      } else {
        sessionStorage.removeItem('id_slim');
        this.$store.commit('setCurrentStep', 2);
      }
    },
    getImage(str){
      const imgStr = process.env.VUE_APP_CLOUDINARY_BASE_URL + str;
      return imgStr;
    },
    getApplicazioni(){
      
      this.$http.get('/api/v1/estro/applicazioni', { params: { id: this.getIdProfili } })
        .then((result) => {
          console.log('result applicazioni', result);
          this.elements = result.data;
        })
        .catch((err) => console.log('Problem on db: getApplicazioni', err));
    },
  }
};
</script>
