<template>
  <div class="p-3 p-md-4 mt-2 mt-md-3">
    <div class="row mb-4 mb-md-5">
      <div class="col-12">
        <h2>{{ $t("message.chooseDiffuser") }}</h2>
        <div v-if="loading">
          <div class="d-flex justify-content-center mb-3">
            <b-spinner style="width: 3rem; height: 3rem;" variant="danger"></b-spinner>
          </div>
        </div>
      </div>
    </div>
    <div class="row pl-2">
      <!-- QUESTO BLOCCO VA RIPETUTO -->
      <div v-for="el in elements" :key="el._id">
        <div class="card-option card-option-three">
          <label>
            <input
              type="radio"
              name="diffusore"
              class="card-input-element"
              @click="setSelected(el)"
              :checked="conditionChecked(el)"
            />
            <div class="card-input">
              <div class="card-image-full">
                <img class="img-fluid" :src="el.fotoQuotata ? getImage(el.fotoQuotata) : getImage(el.foto)" alt="" /> <!-- prendo la foto quotata se esiste, se no la standard *LG*-->
              </div>
              <h3 v-if="$i18n.locale === 'it'" class="mb-2">{{ el.nome }}</h3>
              <h3 v-else class="mb-2">{{ el.nome_en }}</h3>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Diffusori',
  data: () => ({
    elements: {},
    profiloSelected: null,
    loading: false
  }),

  mounted() {
    this.getDiffusori();
  },

  computed: {
    getLanguage() {
      return this.$store.getters.getLanguage;
    },
    getCurrentPath() {
      return this.$store.getters.getCurrentPath;
    },
    getIdFonti() {
      return this.$store.getters.getIdFonti;
    },
    getDiffusore() {
      return this.$store.getters.getDiffusore;
    },
    getProfilo() {
      return this.$store.getters.getProfilo;
    },
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
  },

  methods: {
    conditionChecked(element) {
      let flag = false;
      const jsonStore = this.getDiffusore;
      /* eslint-disable no-underscore-dangle */
      if (element._id === jsonStore._id) flag = true;
      else flag = false;

      return flag;
    },
    setSelected(element) {
      console.log('il valorè del diffusore è:', element, this.getCurrentGlobal, this.getCurrentGlobal === 'other');
      this.$store.commit('setDiffusore', JSON.stringify(element));
      if (this.getCurrentGlobal === 'other') this.$store.commit('setCurrentStep', 2);
      else this.$store.commit('setCurrentStep', 4);
    },
    getImage(str) {
      const imgStr = process.env.VUE_APP_CLOUDINARY_BASE_URL2 + str;
      return imgStr;
    },
    getDiffusori() {
      this.loading = true;
      this.$http
        .get('/api/v1/estro/diffusori', {
          params: { codice: this.getProfilo.codice, id: this.getIdFonti }
        })
        .then((result) => {
          console.log('result diffusers', result);
          if (sessionStorage.getItem('id_slim')) {
            const temp = this.$_.filter(result.data, (el) => {
              console.log('el', el);
              return el.nome === 'Diffusore Opale'; 
            });
            console.log('temp', temp);
            this.elements = temp;
          } else {
            this.elements = result.data;
          }
          this.loading = false;
        })
        .catch((err) => console.log('Problem on db: getDiffusori', err));
    }
  }
};
</script>
