<template>
  <div class="p-3 p-md-4 mt-2 mt-md-3">
    <div class="row mb-4 mb-md-5">
      <div class="col-12">
        <h2>{{ $t("message.chooseFinish") }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-5">
        <b-form inline>
          <b-form-input
            type="text"
            v-model="text"
            :placeholder="getPlaceHolder"
            class="mr-2"
          ></b-form-input>
          <b-button class="float-left" variant="primary" @click="search">{{
            $t("message.search")
          }}</b-button>
          <b-button
            v-if="flagSearch"
            class="float-left"
            style="margin-left: 5px;"
            variant="secondary"
            @click="resetSearch"
            >Reset</b-button
          >
        </b-form>
      </div>
      <div class="col-12">
        <!-- QUESTO BLOCCO VA RIPETUTO -->
        <div v-if="elements.length > 0">
          <div v-for="el in elements" :key="el._id" class="card-option card-option-two">
            <label>
              <input
                type="radio"
                name="finitura"
                class="card-input-element"
                @click="setSelected(el)"
                :checked="conditionChecked(el)"
              />
              <div class="card-input">
                <div class="row" v-if="escludi" style="min-height: 70px;">
                  <div :class="getCardClass(el.descrizione_cover)">
                    <!-- dobbiamo codificare la lettera all'esadecimale corrispondente -->
                    <div :style="'background: ' + el.codice_colore_cover_hex"></div>
                  </div>
                  <div class="card-text col-7">
                    <strong>Cover</strong><br />
                    <div v-if="!el.descrizione_cover">
                      <small v-if="$i18n.locale === 'it'">Nessun colore</small>
                      <small v-else>Nothing</small>
                    </div>
                    <div v-else>
                      <small v-if="$i18n.locale === 'it'"
                        >{{ el.descrizione_cover }} <br />{{
                          getRal(el.codice_colore_cover)
                        }}</small
                      >
                      <small v-else
                        >{{ el.descrizione_cover_en }} <br />{{
                          getRal(el.codice_colore_cover)
                        }}</small
                      >
                    </div>
                  </div>
                </div>
                <div class="row mt-3" style="min-height: 70px;">
                  <div :class="getCardClass(el.descrizione_estruso)">
                    <!-- dobbiamo codificare la lettera all'esadecimale corrispondente -->
                    <div :style="'background: ' + el.codice_colore_estruso_hex"></div>
                  </div>
                  <div class="card-text col-7">
                    <strong>{{ $t("message.profile") }}</strong
                    ><br />
                    <div v-if="!el.descrizione_estruso">
                      <small v-if="$i18n.locale === 'it'">Nessun colore</small>
                      <small v-else>Nothing</small>
                    </div>
                    <div v-else>
                      <small v-if="$i18n.locale === 'it'"
                        >{{ el.descrizione_estruso }} <br />{{
                          getRal(el.codice_colore_estruso)
                        }}</small
                      >
                      <small v-else
                        >{{ el.descrizione_estruso_en }} <br />{{
                          getRal(el.codice_colore_estruso)
                        }}</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div v-if="elements.length === 0">
          <p>{{ $t("message.no_finishing") }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-underscore-dangle */
/* eslint-disable arrow-body-style */
export default {
  name: 'Finiture',
  data: () => ({
    elements: {},
    elementsOriginal: {},
    text: '',
    flagSearch: false
  }),

  mounted() {
    this.getFiniture();
  },

  computed: {
    getCurrentPath() {
      return this.$store.getters.getCurrentPath;
    },
    getApplicazione() {
      return this.$store.getters.getApplicazione;
    },
    getProfilo() {
      return this.$store.getters.getProfilo;
    },
    getDiffusore() {
      return this.$store.getters.getDiffusore;
    },
    getLed() {
      return this.$store.getters.getLed;
    },
    getFonte() {
      return this.$store.getters.getFonte;
    },
    getLunghezza() {
      return this.$store.getters.getLunghezza;
    },
    getFinitura() {
      return this.$store.getters.getFinitura;
    },
    getRiepilogo() {
      return this.$store.getters.getRiepilogo;
    },
    getLocale() {
      return this.$store.getters.getLanguage;
    },
    getPlaceHolder() {
      return this.getLocale === 'it' ? 'Cerca le finiture' : 'Search finishing';
    },
    getFinituraProfiloPrincipale() {
      return this.$store.getters.getFinituraProfiloPrincipale;
    },
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
    getCurrentStep() {
      return this.$store.getters.getCurrentStep;
    },
    getCurrentRoute() {
      return this.$store.getters.getCurrentRoute;
    },
    escludi() {
      //proprieta' per verificare diffusore OPALE o MICROPRISMATO ed escludere colore cover inesistente dalle finiture
      if (this.getFonte.codice.charAt(0) === 'T' || this.getFonte.codice.charAt(0) === '0') return false;
      return true;
    }
  },

  methods: {
    getRal(ral) {
      return ral || '';
    },

    getCardClass(element) {
      return element ? 'card-color col-5' : 'card-color-null col-5';
    },

    search() {
      const _this = this;
      this.elements = this.$_.filter(this.elementsOriginal, (obj) => {
        let flag = false;
        if (obj.descrizione_cover && obj.descrizione_estruso) {
          flag = obj.descrizione_cover.toLowerCase().includes(_this.text.toLowerCase())
            || obj.descrizione_estruso.toLowerCase().includes(_this.text.toLowerCase());
        } else if (obj.descrizione_cover) {
          flag = obj.descrizione_cover.toLowerCase().includes(_this.text.toLowerCase());
        } else if (obj.descrizione_estruso) {
          flag = obj.descrizione_estruso.toLowerCase().includes(_this.text.toLowerCase());
        }
        return flag;
      });

      this.flagSearch = true;
    },

    resetSearch() {
      this.elements = this.elementsOriginal;
      this.text = '';
      this.flagSearch = false;
    },

    conditionChecked(element) {
      let flag = false;
      const jsonStore = this.getFinitura;
      /* eslint-disable no-underscore-dangle */

      if (!this.$_.isNil(element._id) && element._id === jsonStore._id) flag = true;
      else flag = false;

      return flag;
    },

    setSelected(element) {
      if (element[0]) {
        this.$store.commit('setFinitura', JSON.stringify(element[0]));
        if (!this.getFinituraProfiloPrincipale) this.$store.commit('setFinituraProfiloPrincipale', JSON.stringify(element[0]));
      } else {
        this.$store.commit('setFinitura', JSON.stringify(element));
        if (!this.getFinituraProfiloPrincipale) this.$store.commit('setFinituraProfiloPrincipale', JSON.stringify(element));
      }

      this.generaCodice();
    },

    generaCodice() {
      const length = this.getLunghezza.lunghezza; //this.getLunghezza.resto ? this.getLunghezza.lunghezza - this.getLunghezza.resto : this.getLunghezza.lunghezza;
      /* eslint-disable no-underscore-dangle */
      const strLength = this.$_.padStart(String(length), 5, '0');
      //generazione CODICE
      const code = this.getProfilo.codice + this.getFonte.codice + strLength + this.getFinitura.codice;
      console.log('the CODE: ', code);
      //this.$store.commit('setCodice', code);

      let obj = {};
      if (this.getCurrentGlobal === 'principal') {
        obj.applicazione = this.getApplicazione;
        obj.profilo = this.getProfilo;
        obj.fonti = [];
      } else {
        obj = this.getRiepilogo;
      }
      const objFonte = {};
      objFonte.diffusore = this.getDiffusore;
      objFonte.fonte = this.getFonte;
      objFonte.led = this.getLed;
      objFonte.lunghezza = this.getLunghezza;
      objFonte.finitura = this.getFinitura;
      objFonte.codice = code;
      obj.fonti.push(objFonte);
      this.$store.commit('setRiepilogo', JSON.stringify(obj));
      this.$router.push('/riepilogo');
    },

    getFiniture() {
      this.$http
        .get('/api/v1/estro/finiture', {
          params: {
            codiceProfilo: this.getProfilo.codice,
            codiceFonte: this.getFonte.codice,
            finituraProfilo: this.getFinituraProfiloPrincipale
              ? this.getFinituraProfiloPrincipale.codice
              : null
          }
        })
        .then((result) => {
          const diffusore = sessionStorage.diffusore;
          console.log('result diffusers', result);
          if (diffusore.includes('Comfort C1')) {
            const temp = this.$_.filter(result.data, (el) => {
              //console.log('el', el);
              return el.codice === 'WW' || el.codice === 'WB' || el.codice === 'AW';
            });
            console.log('temp', temp);
            this.elements = temp;
            this.elementsOriginal = temp;
          } else if (diffusore.includes('Comfort C2') || diffusore.includes('Comfort C3')){
            const temp = this.$_.filter(result.data, (el) => {
              //console.log('el', el);
              return el.codice === 'WW' || el.codice === 'WB' || el.codice === 'AW' || el.codice === 'BB' || el.codice === 'BA' || el.codice === 'BW';
            });
            console.log('temp', temp);
            this.elements = temp;
            this.elementsOriginal = temp;
          } else {
            this.elements = result.data;
            this.elementsOriginal = result.data;
          }
        })
        .catch((err) => console.log('Problem on db: getFiniture', err));
    }
  }
};
</script>
