<template>
  <div class="p-3 p-md-4 mt-2 mt-md-3">
    <div class="row mb-4 mb-md-5">
      <div class="col-12">
        <h2>{{ $t("message.chooseLed") }}</h2>
        <div v-if="loadingTemp">
          <div class="d-flex justify-content-center mb-3">
            <b-spinner style="width: 3rem; height: 3rem;" variant="danger"></b-spinner>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div v-if="!loadingTemp && getDiffusore.nome === 'Blind'">
          <h3 class="h6 font-weight-normal  mb-2">
            {{ $t("message.noLed") }}
          </h3>
          <b-button class="btn btn-primary" @click="skip">{{$t('message.forward')}}</b-button>
        </div>

        <div v-if="!loadingTemp && getDiffusore.nome === 'Spot'">
          <h3 class="h6 font-weight-normal mb-2">
            {{ $t("message.noLedSpot") }}
          </h3>
          <b-button class="btn btn-primary" @click="skip">{{$t('message.forward')}}</b-button>
        </div>

        <div v-if="!loadingTemp && getDiffusore.nome !== 'Blind' && getDiffusore.nome !== 'Spot'">
          <h3 class="h6 font-weight-normal text-uppercase mb-2">
            {{ $t("message.colorTemperature") }}
          </h3>
        </div>
      </div>
    </div>
    <div ref="toTemp" class="row">
      <div class="col-12">
        <!-- QUESTO BLOCCO VA RIPETUTO -->
        <div v-for="elTemp in orderedTemps" :key="elTemp._id" class="card-option card-option-one">
          <label>
            <input
              type="radio"
              name="temperatura"
              class="card-input-element"
              @click="setTemp(elTemp)"
              :checked="conditionChecked(elTemp)"
            />
            <div class="card-input card-input-h100 row">
              <div class="card-text pl-0">
                <h3 class="mb-2">{{ hasNumber(elTemp) }}</h3>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <!-- QUESTA RIGA SI DEVE VISUALIZZARE DOPO AVER SCELTO LA TEMPERATURA -->
    <div ref="toPotenza" v-show="selezionataTemperatura" class="row mt-4">
      <div class="col-12">
        <div v-if="loadingWatts">
          <div class="d-flex justify-content-center mb-3">
            <b-spinner style="width: 3rem; height: 3rem;" variant="danger"></b-spinner>
          </div>
        </div>
        <h3 v-if="!loadingWatts" class="h6 font-weight-normal text-uppercase mb-2">
          {{ $t("message.wattage") }}
        </h3>
      </div>
      <div class="col-12">
        <!-- QUESTO BLOCCO VA RIPETUTO -->
        <div v-if="!loadingWatts">
          <div
            v-for="elPotenza in orderedWatts"
            :key="elPotenza._id"
            class="card-option card-option-two"
          >
            <label>
              <input
                type="radio"
                name="potenza"
                class="card-input-element"
                @click="setPotenza(elPotenza)"
              />
              <div class="card-input">
                <div class="card-text">
                  <h3 class="mb-2">{{ elPotenza.w + " W/"}}<span v-if="!loadingTemp && ['Power', 'Excel', 'Comfort C1', 'Comfort C2', 'Comfort C3', 'Spot'].indexOf(getDiffusore.nome)> -1">mod</span><span v-else>m</span>
                  </h3>
                  <span v-if="$i18n.locale === 'it'" class="pb-0">{{ elPotenza.led_it }}</span>
                  <span v-else class="pb-0">{{ elPotenza.led_en }}</span>
                  <br />
                  <span v-if="elPotenza.irc" class="pb-0"> {{ "CRI " + elPotenza.irc }}</span>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- QUESTA RIGA SI DEVE VISUALIZZARE DOPO AVER SCELTO LA POTENZA -->
    <div ref="toFascio" v-show="selezionataPotenza" class="row mt-4 mb-5">
      <div class="col-12">
        <div v-if="loadingFascio">
          <div class="d-flex justify-content-center mb-3">
            <b-spinner style="width: 3rem; height: 3rem;" variant="danger"></b-spinner>
          </div>
        </div>
        <h3 v-if="orderedFascio.length > 0" class="h6 font-weight-normal text-uppercase mb-2">
          {{ $t("message.beamAngle") }}
        </h3>
      </div>
      <div class="col-12">
        <!-- QUESTO BLOCCO VA RIPETUTO -->
        <div v-if="!loadingFascio">
          <div
            v-for="elFascio in orderedFascio"
            :key="elFascio._id"
            class="card-option card-option-one"
          >
            <label>
              <input
                type="radio"
                name="irc"
                class="card-input-element"
                @click="setFascio(elFascio)"
              />
              <div class="card-input">
                <div class="card-text text-center">
                  <h3 class="mb-2">{{ elFascio }}°</h3>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'Leds',
  data: () => ({
    elementTemperatura: {},
    elementPotenza: {},
    elementFascio: {},
    loadingTemp: false,
    loadingWatts: false,
    loadingFascio: false,
    selezionataTemperatura: false,
    selezionataPotenza: false,
    elTemp: null,
    elPotenza: null,
    elFascio: null
  }),

  mounted() {
    if (this.getDiffusore.nome !== 'Blind' && this.getDiffusore.nome !== 'Spot') {
      this.getLedTemperatura();
    } else {
      const obj = {};
      obj.nothing = 'Nessun LED';
      this.$store.commit('setLed', JSON.stringify(obj));
    }
  },

  computed: {
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
    getLanguage() {
      return this.$store.getters.getLanguage;
    },
    getCurrentPath() {
      return this.$store.getters.getCurrentPath;
    },
    getDiffusore() {
      return this.$store.getters.getDiffusore;
    },
    getProfilo() {
      return this.$store.getters.getProfilo;
    },
    getLed() {
      return this.$store.getters.getLed;
    },
    orderedTemps() {
      return _.orderBy(this.elementTemperatura);
    },
    orderedWatts() {
      return _.orderBy(this.elementPotenza, 'w');
    },
    orderedFascio() {
      return _.orderBy(this.elementFascio);
    }
  },

  methods: {
    hasNumber(str) {
      let strOut = str;
      const regex = /\d/g;
      if (regex.test(str)) strOut = str + ' K';
      return strOut;
    },
    conditionChecked(element) {
      let flag = false;
      const jsonStore = this.getLed;
      /* eslint-disable no-underscore-dangle */
      if (jsonStore._id) {
        if (element._id === jsonStore._id) flag = true;
        else flag = false;
      }

      return flag;
    },
    setTemp(elementTemp) {
      this.elTemp = elementTemp;
      console.log('il valorè della temperatura è:', elementTemp);
      this.selezionataTemperatura = true;
      this.selezionataPotenza = false;
      const obj = {
        k: this.elTemp,
        potenza: this.elPotenza,
        fascio: this.elFascio
      };
      this.$store.commit('setLed', JSON.stringify(obj));
      this.getLedPotenza();
    },
    setPotenza(elementPotenza) {
      this.elPotenza = elementPotenza;
      this.selezionataPotenza = true;
      const obj = {
        k: this.elTemp,
        potenza: this.elPotenza,
        fascio: this.elFascio
      };
      console.log('il valorè della potenza è:', elementPotenza);
      this.$store.commit('setLed', JSON.stringify(obj));
      this.getLedFascio();
    },
    setFascio(elementFascio) {
      this.elFascio = elementFascio;
      const obj = {
        k: this.elTemp,
        potenza: this.elPotenza,
        fascio: this.elFascio
      };
      console.log('il valorè del fascio è:', elementFascio);
      this.$store.commit('setLed', JSON.stringify(obj));
      if (this.getCurrentGlobal === 'other') this.$store.commit('setCurrentStep', 3);
      else this.$store.commit('setCurrentStep', 5);
    },
    skip(){
      if (this.getCurrentGlobal === 'other') this.$store.commit('setCurrentStep', 3);
      else this.$store.commit('setCurrentStep', 5);
    },

    getImage(str) {
      const imgStr = process.env.VUE_APP_CLOUDINARY_BASE_URL + str;
      return imgStr;
    },
    getLedTemperatura() {
      this.loadingTemp = true;
      this.$http
        .get('/api/v1/estro/led-temperatura', {
          params: {
            id: this.getDiffusore._id,
            codiceProfilo: this.getProfilo.codice
          }
        })
        .then((result) => {
          console.log('result leds temperatura', result);
          this.elementTemperatura = result.data[0];
          this.loadingTemp = false;
        })
        .catch((err) => console.log('Problem on db: getLedTemperatura', err));
    },
    getLedPotenza() {
      this.loadingWatts = true;
      this.$http
        .get('/api/v1/estro/led-potenza', {
          params: {
            id: this.getDiffusore._id,
            codiceProfilo: this.getProfilo.codice,
            k: this.getLed.k
          }
        })
        .then((result) => {
          console.log('result leds potenza', result);
          if (sessionStorage.getItem('id_slim')) {
            const temp = this.$_.filter(result.data[0], (el) => {
              console.log('el', el);
              return el.led_it === '3014 - 196 led/m LED BAR SLIM';
            });
            console.log('temp', temp);
            this.elementPotenza = temp;
          } else {
            this.elementPotenza = result.data[0];
          }
          this.loadingWatts = false;

          //const elementTemp = this.$refs.toTemp;
          const element = this.$refs.toPotenza;
          //console.log(element.offsetTop, elementTemp.offsetHeight);
          //const tempHT = elementTemp.offsetHeight;
          const top = element.offsetTop;
          window.scrollTo(0, top);
        })
        .catch((err) => console.log('Problem on db: getLedPotenza', err));
    },
    getLedFascio() {
      this.loadingFascio = true;
      this.$http
        .get('/api/v1/estro/led-fascio', {
          params: {
            id: this.getDiffusore._id,
            codiceProfilo: this.getProfilo.codice,
            k: this.getLed.k,
            w: this.getLed.potenza.w,
            led_it: this.getLed.potenza.led_it
          }
        })
        .then((result) => {
          console.log('result leds fascio', result);
          this.elementFascio = result.data[0];
          this.loadingFascio = false;

          const element = this.$refs.toFascio;
          // const elementPrima = this.$refs.toPotenza;
          console.log(element.offsetTop);
          //const middle = elementPrima.offsetTop;
          const top = element.offsetTop;
          window.scrollTo(0, top);
        })
        .catch((err) => console.log('Problem on db: getLedFascio', err));
    }
  }
};
</script>
