<template>
  <div class="p-3 p-md-4 mt-2 mt-md-3">
    <div class="row mb-4 mb-md-5">
      <div class="col-12">
        <h2>{{ $t("message.lengthTitle") }}</h2>
      </div>
    </div>
    <div v-if="coditionLength" class="row">
      <div class="col-12 col-md-6">
        <div class="step-input input-group input-group-lg mb-2">
          <b-form-input
            v-model="lunghezza"
            type="number"
            placeholder="es. 8"
            style="max-width: 200px!important;"
          ></b-form-input>
          <p class="pl-4">
            {{ $t("message.lengthModules1") }}<br />{{ $t("message.lengthModules2") }}
            {{ taglio }} mm.
          </p>
        </div>
        <label v-if="lunghezza>0">
          <input
            type="radio"
            name="lunghezza"
            class="card-input-element"
            @click="setSelected(lunghezza)"
          />
          <div class="card-input mt-4" style="padding-top: 15px; width: 150px;">
            <div class="card-text text-center">
              <h3 style="font-weight: normal;">{{ lunghezza * taglio }} mm</h3>
            </div>
          </div>
        </label>
        <!--  <p v-if="getLunghezza.moduli_calcolati">{{ getLunghezza.moduli_calcolati }} mm</p> -->
      </div>

      <div class="col-12 col-md-4 offset-md-2">
        <div class="card-info">
          <i class="fas fa-lg fa-info-circle"></i>
          <p>{{ $t("message.lengthMsg1") }}</p>
        </div>
        <div v-if="checkMsgTappi" class="card-info mt-4">
          <i class="fas fa-lg fa-info-circle"></i>
          <p>{{ $t("message.lengthMsg2", { tappi: getTappi }) }}</p>
        </div>
        <!-- da mostrare solo per i profili cassaforma -->
        <div v-if="checkProfili" class="card-info mt-4">
          <i class="fas fa-lg fa-info-circle"></i>
          <p>{{ $t("message.lengthMsg7") }}</p>
        </div>
      </div>
    </div>
    <div v-else class="row">
      <div class="col-12 col-md-6">
        <div class="step-input input-group input-group-lg mb-2" style="width: 250px;">
          <b-form-input v-model="lunghezza" type="number" placeholder="es. 1500"></b-form-input>
          <span>in mm</span>
        </div>
        <div v-if="lunghezza % taglio > 0" class="card-info mt-3">
          <i class="fas fa-2x fa-exclamation-triangle text-yellow"></i>
          <p>
            {{ $t("message.lengthMsg3") }} {{ taglio }} mm. <br />
            {{ $t("message.lengthMsg4") }}
          </p>
        </div>

        <div v-if="lunghezza > 0" class="row mt-4">
          <div class="col-12 d-flex flex-column">
            <div class="card-option card-option-one">
              <label v-if="lunghezza >= taglio">
                <input
                  type="radio"
                  name="lunghezza"
                  class="card-input-element"
                  @click="setSelected(lunghezza)"
                />
                <div class="card-input">
                  <div class="card-text text-center">
                    <h3>{{ formatNumbers(lunghezza) }} mm</h3>
                  </div>
                </div>
              </label>
            </div>
            <div class="card-option-info">
              <span v-if="conditionLengthParteBuia">{{
                $t("message.lenghtBlind1", { taglio: formatNumbers(lunghezza % taglio) })
              }}</span>
            </div>

            <div class="card-option card-option-one">
              <label
                v-if="
                  formatNumbers(lunghezza % taglio) > 0 && formatNumbers(arrotandaDifetto) > taglio
                "
              >
                <input
                  type="radio"
                  name="lunghezza"
                  class="card-input-element"
                  @click="setSelected(arrotandaDifetto, 'difetto')"
                />
                <div class="card-input">
                  <div class="card-text text-center">
                    <h3>{{ formatNumbers(arrotandaDifetto) }} mm</h3>
                  </div>
                </div>
              </label>
            </div>
            <div class="card-option card-option-one">
              <label v-if="formatNumbers(lunghezza % taglio) > 0">
                <input
                  type="radio"
                  name="lunghezza"
                  class="card-input-element"
                  @click="setSelected(arrotandaEccesso, 'eccesso')"
                />
                <div class="card-input">
                  <div class="card-text text-center">
                    <h3>{{ formatNumbers(arrotandaEccesso) }} mm</h3>
                  </div>
                </div>
              </label>
            </div>
            <div class="card-option-info">
              <small v-if="formatNumbers(lunghezza % taglio) > 0 && lunghezza < taglio"
                >{{ $t("message.lengthMsg5") }} di {{ taglio }} mm.</small
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 offset-md-2">
        <div class="card-info">
          <i class="fas fa-lg fa-info-circle"></i>
          <p>{{ $t("message.lengthMsg1") }}</p>
        </div>
        <div v-if="checkMsgTappi" class="card-info mt-4">
          <i class="fas fa-lg fa-info-circle"></i>
          <p>{{ $t("message.lengthMsg2", { tappi: getTappi }) }}</p>
        </div>
        <!-- da mostrare solo per i profili cassaforma -->
        <div v-if="checkProfili" class="card-info mt-4">
          <i class="fas fa-lg fa-info-circle"></i>
          <p>{{ $t("message.lengthMsg7") }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-underscore-dangle */
export default {
  name: 'Lunghezza',
  data: () => ({
    elements: {},
    lunghezza: 0,
    loading: false,
    taglio: 0,
    sceltaLunghezza: null
  }),

  mounted() {
    this.getFonte();
  },

  computed: {
    coditionLength() {
      //se questa è vera faccio vedere moduli, altrimenti mm
      return (
        this.getDiffusore.nome.startsWith('Power')
        || this.getDiffusore.nome.startsWith('Comfort')
        || this.getDiffusore.nome.startsWith('Excel')
        || this.getDiffusore.nome.startsWith('Spot')
      );
    },

    conditionLengthParteBuia() {
      return (
        !this.getDiffusore.nome.startsWith('Blind')
        && !this.getDiffusore.nome.startsWith('Spot')
        && this.formatNumbers(this.lunghezza % this.taglio) > 0
        && this.lunghezza >= this.taglio
      );
    },

    getLanguage() {
      return this.$store.getters.getLanguage;
    },
    getCurrentPath() {
      return this.$store.getters.getCurrentPath;
    },
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
    getProfilo() {
      return this.$store.getters.getProfilo;
    },
    getLunghezza() {
      return this.$store.getters.getLunghezza;
    },
    getDiffusore() {
      return this.$store.getters.getDiffusore;
    },
    getLed() {
      return this.$store.getters.getLed;
    },
    getRiepilogo() {
      return this.$store.getters.getRiepilogo;
    },

    arrotandaDifetto() {
      return this.lunghezza - (this.lunghezza % this.taglio) > 0
        ? this.lunghezza - (this.lunghezza % this.taglio)
        : 0;
    },
    arrotandaEccesso() {
      return Number(this.lunghezza) - (this.lunghezza % this.taglio) + Number(this.taglio);
    },

    getTappi() {
      let mm = '6';
      if (
        this.getDiffusore.nome === 'Diffusore Opale'
        || this.getDiffusore.nome === 'Schermo Miscroprismato'
        || this.getDiffusore.nome === 'Schermo Miscroprismato'
        || this.getDiffusore.nome.startsWith('Reflecta')
      ) mm = '7';
      return mm;
    },
    checkMsgTappi() {
      if (this.getRiepilogo) {
        if (this.getRiepilogo.fonti && this.getRiepilogo.fonti.length > 0) return false;
        return true;
      }
      return true;
    },

    checkProfili() {
      const arrayProfili = ['JH', 'JP', 'JN', 'JQ', 'JO', 'JJ', 'JT'];
      if (arrayProfili.includes(this.getProfilo.codice)) return true;
      return false;
    }
  },

  methods: {
    formatNumbers(numb) {
      return Number(numb).toFixed();
    },

    setSelected(element, type) {
      //console.log('vedo', element, this.formatNumbers(element), this.formatNumbers(element) > 0);
      const obj = {};
      if (!this.coditionLength) {
        if (this.taglio && !type) {
          obj.lunghezza = this.formatNumbers(element) > 0 ? this.formatNumbers(element) : null;
          const resto = element >= this.taglio
            ? this.formatNumbers(element % this.taglio)
            : this.formatNumbers(this.taglio - element);
          obj.resto = resto > 0 ? resto : null;
          obj.tappi = this.getTappi;
        } else {
          obj.lunghezza = this.formatNumbers(element) > 0 ? this.formatNumbers(element) : null;
          obj.resto = null;
          obj.tappi = this.getTappi;
        }
      } else {
        obj.lunghezza = this.formatNumbers(element) > 0 ? this.formatNumbers(element) : null;
        obj.moduli_calcolati = this.formatNumbers(element * this.taglio);
        obj.resto = null;
        obj.tappi = this.getTappi;
      }
      //console.log('vedo2', obj);
      this.$store.commit('setLunghezza', JSON.stringify(obj));
      if (this.getCurrentGlobal === 'other') this.$store.commit('setCurrentStep', 4);
      else this.$store.commit('setCurrentStep', 6);
    },

    getFonte() {
      this.loading = true;

      const myParams = {};
      myParams.modelloId = this.getDiffusore._id;

      if (this.getLed) {
        if (!this.getLed.nothing) {
          myParams.k = this.getLed.k;
          myParams.w = this.getLed.potenza.w;
          myParams.led_it = this.getLed.potenza.led_it;
          myParams.irc = this.getLed.potenza.irc;
          myParams.fascio = this.getLed.fascio;
        }
      }

      /* this.$http.get('/api/v1/estro/fonte', {
        params: {
          modelloId: this.getDiffusore._id,
          k: this.getLed.k,
          w: this.getLed.potenza.w,
          led_it: this.getLed.potenza.led_it,
          irc: this.getLed.potenza.irc,
          fascio: this.getLed.fascio
        }
      }) */
      this.$http
        .get('/api/v1/estro/fonte', {
          params: myParams
        })
        .then((result) => {
          console.log('result fonte', result.data);
          console.log('Taglio', result.data.taglio);
          this.$store.commit('setFonte', JSON.stringify(result.data));
          this.taglio = result.data.taglio;
          this.loading = false;
        })
        .catch((err) => console.log('Problem on db: getProfili', err));
    }
  }
};
</script>
