<template>
   <div class="p-3 p-md-4 mt-2 mt-md-3">
        <div class="row mb-4 mb-md-5">
            <div class="col-12">
                <h2>{{$t('message.chooseProfile')}}</h2>
                <div v-if="loading">
                  <div class="d-flex justify-content-center mb-3">
                  <b-spinner style="width: 3rem; height: 3rem;" variant="danger" ></b-spinner>
                </div>
              </div>
            </div>
        </div>
        <div class="row pl-2">
          <!-- QUESTO BLOCCO VA RIPETUTO -->
          <div v-for="el in elements" :key="el._id">
            <div class="card-option card-option-three">
              <label>
                  <input type="radio" name="profilo" class="card-input-element" @click="setSelected(el)"
                      :checked="conditionChecked(el)"/>
                  <div class="card-input">
                    <img class="img-fluid" :src="el.fotoQuotata ? getImage(el.fotoQuotata) : getImage(el.foto)" alt=""> <!-- prendo la foto quotata se esiste, se no la standard *LG*-->
                    <h3 class="mb-2">{{el.codice}}</h3>
                  </div>
              </label>
            </div>
          </div>
      </div>
    </div>

</template>

<script>
export default {
  name: 'Profili',
  data: () => ({     
    elements: {},
    profiloSelected: null,
    loading: false
  }),

  mounted() {
    this.getProfili();
  },

  computed: {
    
    getLanguage(){
      return this.$store.getters.getLanguage;
    },
    getCurrentPath(){
      return this.$store.getters.getCurrentPath;
    },
    getProfilo(){
      return this.$store.getters.getProfilo;
    },
    getApplicazione(){
      return this.$store.getters.getApplicazione;
    }
  },

  methods: {
    conditionChecked(element){
      let flag = false;      
      const jsonStore = this.getProfilo;
      /* eslint-disable no-underscore-dangle */
      if (element._id === jsonStore._id) flag = true;
      else flag = false;

      return flag;
    },
    setSelected(element){
      console.log('il valorè del profilo è:', element);
      this.$store.commit('setProfilo', JSON.stringify(element));
      this.$store.commit('setCurrentStep', 3);
    },
    getImage(str){
      const imgStr = process.env.VUE_APP_CLOUDINARY_BASE_URL + str;
      return imgStr;
    },
    getProfili(){
      this.loading = true;
      this.$http.get('/api/v1/estro/profili', {
        params: {
          id: this.getApplicazione._id
        }
      })
        .then((result) => {
          console.log('result profiles', result);
          this.elements = result.data;
          this.loading = false;
        })
        .catch((err) => console.log('Problem on db: getProfili', err));
    }
  }
};

</script>
