<template>
  <div class="p-3 p-md-4 mt-2 mt-md-3">
    <div class="row mb-4 mb-md-5">
      <div class="col-12">
        <div>{{ $t("message.productCode") }}</div>
        <h2>{{ printCodes }}</h2>
        <hr />
      </div>
    </div>

    <div class="row riepilogoWrapper ">
      <div class="col-12 col-lg-8 mb-5">
        <div class="row">
          <div class="col-12 col-md-4">
            <h3 class="h5">{{ $t("message.application") }}</h3>
            <div v-if="getApplicazione.descrizione_en && getApplicazione.descrizione">
              <p v-if="$i18n.locale === 'it'">
                {{ getApplicazione.nome + " - " + getApplicazione.descrizione }}
              </p>
              <p v-else>{{ getApplicazione.nome_en + " - " + getApplicazione.descrizione_en }}</p>
            </div>
            <div v-else>
              <p v-if="$i18n.locale === 'it'">{{ getApplicazione.nome }}</p>
              <p v-else>{{ getApplicazione.nome_en }}</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <img class="img-fluid float-left mr-3 mt--1" :src="getImage(getProfilo.foto)" alt="" />
            <h3 class="h5">{{ $t("message.profile") }}</h3>
            <p>{{ getProfilo.codice }}</p>
            <p v-if="checkProfili" class="profile-info">
              <small class="mt-3 pt-3">
                {{ $t("message.profileMsg1", { codice: getProfilo.codice }) }}<br />
                {{ $t("message.profileMsg2", { codice: getProfilo.codice }) }}
              </small>
            </p>
          </div>
        </div>

        <!-- QUESTO BLOCCO SI RIPETE PER OGNI CODICE -->
        <div v-for="(el, i) in getRiepilogo.fonti" :key="i" class="row mt-5">
          <div class="col-12 mb-4">
            <h3 class="h5 text-muted">{{ $t("message.code") }} {{ el.codice }}</h3>
            <hr />
          </div>
          <div class="col-12 col-lg-3">
            <img
              class="img-fluid float-left mr-3 mt--1"
              :src="getImage(el.diffusore.foto)"
              alt=""
            />
            <h4 class="h5">{{ $t("message.diffuser") }}</h4>
            <p v-if="$i18n.locale === 'it'">{{ el.diffusore.nome }}</p>
            <p v-else>{{ el.diffusore.nome_en }}</p>
          </div>
          <div v-if="!el.led.nothing" class="col-12 col-lg-4">
            <h3 class="h5">LED</h3>
            <div v-if="el.led.fascio !== null">
              <p v-if="$i18n.locale === 'it'">
                {{
                  el.led.k +
                    " K " +
                    " • " +
                    getPotenza(el.led.potenza, el.diffusore.nome) +
                    " • " +
                    " Fascio " +
                    el.led.fascio +
                    "°"
                }}
              </p>
              <p v-else>
                {{
                  el.led.k +
                    " K " +
                    " • " +
                    getPotenza(el.led.potenza, el.diffusore.nome) +
                    " • " +
                    " Beam Angle " +
                    el.led.fascio +
                    "°"
                }}
              </p>
            </div>
            <div v-else>
              <p v-if="$i18n.locale === 'it'">
                {{ el.led.k + " K " + " • " + getPotenza(el.led.potenza, el.diffusore.nome) }}
              </p>
              <p v-else>{{ el.led.k + " K " + " • " + getPotenza(el.led.potenza, el.diffusore.nome) }}</p>
            </div>
          </div>
          <div v-else class="col-12 col-lg-4">
            <h3 class="h5">LED</h3>
            <p v-if="$i18n.locale === 'it'">{{ $t("message.noLed") }}</p>
            <p v-else>{{ $t("message.noLed") }}</p>
          </div>
          <div class="col-12 col-lg-2">
            <h4 class="h5">{{ $t("message.length") }}</h4>
            <p>
              <span v-if="!el.lunghezza.moduli_calcolati">{{ el.lunghezza.lunghezza }} mm</span>
              <span v-if="el.lunghezza.moduli_calcolati"
                >{{ el.lunghezza.moduli_calcolati }} mm</span
              >
              <small v-if="conditionLengthParteBuia(el.diffusore, el.lunghezza)">
                <br />
                {{ $t("message.lenghtBlind1", { taglio: el.lunghezza.resto }) }}</small
              >
              <small v-if="i === 0">
                <br />
                {{ $t("message.lengthMsg6", { tappi: el.lunghezza.tappi }) }}</small
              >
            </p>
          </div>
          <div class="col-12 col-lg-3 riepilogo-finish">
            <h4 class="h5">{{ $t("message.finish") }}</h4>
            <div v-if="$i18n.locale === 'it'">
              <div>
                <p v-if="el.finitura.descrizione_cover">
                  {{ "Cover: " + el.finitura.descrizione_cover }}
                  {{ getRal(el.finitura.codice_colore_cover) }}
                </p>
                <p v-else>Cover: {{ $t("message.noColor") }}</p>
              </div>
              <div>
                <p v-if="el.finitura.descrizione_estruso">
                  {{ "Profilo: " + el.finitura.descrizione_estruso }}
                  {{ getRal(el.finitura.codice_colore_estruso) }}
                </p>
                <p v-else>Profilo: {{ $t("message.noColor") }}</p>
              </div>
            </div>
            <div v-else>
              <div>
                <p v-if="el.finitura.descrizione_cover_en">
                  {{ "Cover: " + el.finitura.descrizione_cover_en }}
                  {{ getRal(el.finitura.codice_colore_cover) }}
                </p>
                <p v-else>Cover: {{ $t("message.noColor") }}</p>
              </div>
              <div>
                <p v-if="el.finitura.descrizione_estruso_en">
                  {{ "Profile: " + el.finitura.descrizione_estruso_en }}
                  {{ getRal(el.finitura.codice_colore_estruso) }}
                </p>
                <p v-else>Profile: {{ $t("message.noColor") }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div class="table-responsive">
          <h6>{{ $t("message.composition") }}</h6>
          <table class="table table-bordered mt-3">
            <!-- QUESTA RIGA VA RIPETUTA PER TUTTI I CODICI -->
            <tr v-for="(el, i) in getRiepilogo.fonti" :key="i">
              <td>{{ el.codice }}</td>
              <td>
                <button 
                  v-if="!buttonsLoading[i].show"
                  role="button"
                  class="btn btn-sm btn-xs btn-primary d-block d-lg-none"
                  @click="downloadSchedaTecnicaMobile(el, i)">
                  {{ $t("message.downloadSpec") }}
                </button>
                <button 
                  v-if="!buttonsLoading[i].show"
                  role="button"
                  class="btn btn-sm btn-xs btn-primary d-none d-lg-block"
                  @click="downloadSchedaTecnica(el, i)">
                  {{ $t("message.downloadSpec") }}
                </button>
                <b-spinner v-if="buttonsLoading[i].show" variant="danger"></b-spinner>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-12 mt-5">
        <button @click="addFonte" role="button" class="btn btn-lg btn-outline-primary mr-4 mb-3">
          {{ $t("message.addSource") }}
        </button>

        <button
          @click="showModal = true"
          id="show-modal"
          role="button"
          class="btn btn-lg btn-primary mb-3">
          {{ $t("message.request") }}
        </button>

        <button @click="reset" class="btn-link ml-4" role="button">
          <i class="fas fa-redo-alt mr-1" aria-hidden="true"></i>Reset
        </button>

        <b-modal
          v-if="$i18n.locale === 'it'"
          v-model="showModal"
          id="modal-1"
          title="Invia Richiesta di Offerta"
          hide-footer>
          <form-request
            @close="close"
            @showAlertSuccess="showAlertSuccess"
            @showAlertError="showAlertError">
          </form-request>
        </b-modal>
        <b-modal v-else v-model="showModal" id="modal-1" title="Send Request Offer" hide-footer>
          <form-request
            @close="close"
            @showAlertSuccess="showAlertSuccess"
            @showAlertError="showAlertError">
          </form-request>
        </b-modal>
      </div>
    </div>
    <b-alert
      :show="dismissCountDownSuccess"
      class="position-fixed fixed-bottom m-0 rounded-0"
      style="z-index: 2000;"
      dismissible
      variant="success"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged">
      <p class="pt-3 pb-3 lead">{{ $t("message.alertSuccess") }}</p>
    </b-alert>
    <b-alert
      :show="dismissCountDownError"
      class="position-fixed fixed-bottom m-0 rounded-0"
      style="z-index: 2000;"
      dismissible
      variant="danger"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged">
      <p class="pt-3 pb-3 lead">{{ $t("message.alertError") }}</p>
    </b-alert>
  </div>
</template>

<script>
import Vue from 'vue';
import FormRequest from '../components/FormRequest.vue';

export default {
  components: {
    FormRequest
  },

  data: () => ({
    showModal: false,
    dismissSecs: 5,
    dismissCountDownError: 0,
    dismissCountDownSuccess: 0,
    buttonsLoading: []
  }),
  created() {
    //console.log('getRiepilogo: ', this.$store.getters.getRiepilogo);
    //console.log('getApplicazione: ', this.getApplicazione);
    /* eslint-disable no-underscore-dangle*/
    this.$_.forEach(this.getRiepilogo.fonti, (el) => {
      this.buttonsLoading.push({ show: false });
    });
    //console.log('buttonsLoading: ', this.buttonsLoading);
  },
  computed: {
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
    getLocale() {
      return this.$store.getters.getLanguage;
    },
    getCurrentPath() {
      return this.$store.getters.getCurrentPath;
    },
    getDiffusore() {
      return this.$store.getters.getRiepilogo.diffusore;
    },
    getFonte() {
      return this.$store.getters.getFonte;
    },
    getApplicazione() {
      return this.$store.getters.getRiepilogo.applicazione;
    },
    getProfilo() {
      return this.$store.getters.getRiepilogo.profilo;
    },
    getLed() {
      return this.$store.getters.getRiepilogo.led;
    },
    getCurrentStep() {
      return this.$store.getters.getCurrentStep;
    },
    getFinitura() {
      return this.$store.getters.getRiepilogo.finitura;
    },
    getLunghezza() {
      return this.$store.getters.getRiepilogo.lunghezza;
    },
    getCodice() {
      return this.$store.getters.getCodice;
    },
    getRiepilogo() {
      return this.$store.getters.getRiepilogo;
    },
    printCodes() {
      let stringa = '';
      /* eslint-disable no-underscore-dangle*/
      this.$_.forEach(this.getRiepilogo.fonti, (el, i) => {
        if (i !== this.getRiepilogo.fonti.length - 1) {
          stringa += el.codice + ' + ';
        } else {
          stringa += el.codice;
        }
      });
      this.$store.commit('setCodice', stringa);
      return stringa;
    },
    checkProfili() {
      const arrayProfili = ['JH', 'JP', 'JN', 'JQ', 'JO', 'JJ', 'JG', 'JT'];
      if (arrayProfili.includes(this.getProfilo.codice)) return true;
      return false;
    }
  },
  methods: {
    conditionLengthParteBuia(diffusore, lunghezza) {
      return (
        !diffusore.nome.startsWith('Blind') && !diffusore.nome.startsWith('Spot') && lunghezza.resto
      );
    },

    getRal(ral) {
      return ral || '';
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;

      if (this.dismissCountDown === 0) {
        this.dismissCountDownSuccess = 0;
        this.dismissCountDownError = 0;
      }
    },
    showAlertSuccess() {
      this.dismissCountDownSuccess = this.dismissSecs;
    },
    showAlertError() {
      this.dismissCountDownError = this.dismissSecs;
    },
    close() {
      this.showModal = false;
    },

    getPotenza(potenza, diffusore) {
      let result = '';
      if (potenza) {
        const ledLocale = this.getLocale === 'it' ? potenza.led_it : potenza.led_en;
        const unit = ['Power', 'Excel', 'Comfort C1', 'Comfort C2', 'Comfort C3', 'Spot'].indexOf(diffusore) > -1 ? 'mod' : 'm';
        result = potenza.w + ' W/' + unit + ' • ' + ledLocale + ' • CRI ' + potenza.irc;
      }
      return result;
    },
    addFonte() {
      this.$store.commit('setCurrentGlobal', 'other');
      this.$store.commit('setCurrentStep', 1);
      this.$router.push('/step3');
      this.$store.commit('setDiffusore', null);
      this.$store.commit('setLed', null);
      this.$store.commit('setLunghezza', null);
      this.$store.commit('setFinitura', null);
    },
    getImage(str) {
      const imgStr = process.env.VUE_APP_CLOUDINARY_BASE_URL3 + str;
      return imgStr;
    },
    downloadFile(filePath){
      const xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = () => {
        if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
          const anchor = window.URL.createObjectURL(xmlHttp.response);
          const e = document.createElement('a');
          e.href = anchor;
          e.download = anchor.substr(anchor.lastIndexOf('/') + 1);
          document.body.appendChild(e);
          e.click();
          document.body.removeChild(e);
        }
      };
      xmlHttp.responseType = 'blob';
      xmlHttp.open('GET', filePath, true);
      xmlHttp.send(null);
    },
    downloadSchedaTecnicaMobile(element, i) {
      this.buttonsLoading[i].show = true;
      //console.log('buttonLoad', this.buttonsLoading[i], i);

      const object = {
        profilo: this.getProfilo.codice,
        codice_finito: element.codice,
        fonte: element.fonte.codice,
        lunghezza: element.lunghezza.moduli_calcolati ? null : element.lunghezza.lunghezza,
        numero_moduli: element.lunghezza.moduli_calcolati ? element.lunghezza.lunghezza : null,
        cover: { unita: element.lunghezza.moduli_calcolati ? 'mod' : 'm' },
        parte_buia: element.lunghezza.resto,
        tappi: element.lunghezza.tappi,
        finitura: element.finitura.codice,
        sostituibilita_LED: this.getApplicazione.sostituibilita_LED,
        sostituibilita_driver: this.getApplicazione.sostituibilita_driver
      };

      console.log('mando questo a scheda', object);

      this.$http
        .post('/pdf', object, {
          params: {
            anteprima: true,
            tipopdf: 'schedatecnicaEstro'
          }
        })
        .then((result) => {
          console.log('Pdf generato', result);
          this.downloadFile(process.env.VUE_APP_BASE_URL + '/' + result.data.file);
          this.buttonsLoading[i].show = false;
        })
        .catch((err) => {
          console.log('Error on Download Scheda Tecnica', err);
          this.buttonsLoading[i].show = false;
        });
    },
    downloadSchedaTecnica(element, i) {
      this.buttonsLoading[i].show = true;
      //console.log('buttonLoad', this.buttonsLoading[i], i);

      const object = {
        profilo: this.getProfilo.codice,
        codice_finito: element.codice,
        fonte: element.fonte.codice,
        lunghezza: element.lunghezza.moduli_calcolati ? null : element.lunghezza.lunghezza,
        numero_moduli: element.lunghezza.moduli_calcolati ? element.lunghezza.lunghezza : null,
        cover: { unita: element.lunghezza.moduli_calcolati ? 'mod' : 'm' },
        parte_buia: element.lunghezza.resto,
        tappi: element.lunghezza.tappi,
        finitura: element.finitura.codice,
        sostituibilita_LED: this.getApplicazione.sostituibilita_LED,
        sostituibilita_driver: this.getApplicazione.sostituibilita_driver
      };

      console.log('mando questo a scheda', object);

      this.$http
        .post('/pdf', object, {
          params: {
            anteprima: true,
            tipopdf: 'schedatecnicaEstro'
          }
        })
        .then((result) => {
          console.log('Pdf generato', result);
          window.open(process.env.VUE_APP_BASE_URL + '/' + result.data.file, '_blank');
          this.buttonsLoading[i].show = false;
        })
        .catch((err) => {
          console.log('Error on Download Scheda Tecnica', err);
          this.buttonsLoading[i].show = false;
        });
    },

    reset() {
      this.$store.commit('setDiffusore', null);
      this.$store.commit('setFonte', null);
      this.$store.commit('setLed', null);
      this.$store.commit('setLunghezza', null);
      this.$store.commit('setFinitura', null);
      this.$store.commit('setFinituraProfiloPrincipale', null);

      this.$store.commit('setApplicazione', null);
      this.$store.commit('setProfilo', null);
      this.$store.commit('setRiepilogo', null);
      this.$store.commit('setCodice', null);

      this.$store.commit('setCurrentGlobal', 'principal');
      this.$store.commit('setCurrentStep', 1);

      //if (this.$route.name === "Riepilogo")
      this.$router.push('/');
    }
  }
};
</script>

<style>
.riepilogoWrapper p {
  font-size: 0.85em;
}
.riepilogo-finish p {
  margin-bottom: 0;
}
</style>
