<template>
    <div class="small">
        <p class="lead">{{$t('message.requestForm')}}</p>
        <ValidationObserver ref="observer" v-slot="{ invalid }" tag="form" @submit.prevent="sendMsg()" >
            <form class="formDownload">
            
                <div class="form-group">
                    <label for="formName">{{$t('message.fullName')}}</label>
                    <ValidationProvider :rules="{ required: true }" v-slot="{ errors }">
                      <input v-if="$i18n.locale === 'it'" v-model="formName" type="text" class="form-control" id="formName" placeholder="Mario Rossi" required>
                      <input v-else v-model="formName" type="text" class="form-control" id="formName" placeholder="John Doe" required>
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <div class="form-group">
                    <label for="formEmail">{{$t('message.email')}}</label>
                    <ValidationProvider :rules="{ required: true, email: true }" v-slot="{ errors }">
                      <input v-if="$i18n.locale === 'it'" v-model="formEmail" type="email" class="form-control" id="formEmail" placeholder="mario.rossi@mail.it">
                      <input v-else v-model="formEmail" type="email" class="form-control" id="formEmail" placeholder="john.doe@company.com">
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                <div class="form-group">
                    <label for="formNumber">{{$t('message.phone')}}<em> {{$t('message.optional')}}</em></label>
                    <input v-model="formNumber" type="text" class="form-control" id="formNumber" placeholder="+39021234567">
                </div>
                <div class="form-group">
                    <label for="formCompany">{{$t('message.company')}}</label>
                    <ValidationProvider :rules="{ required: true }" v-slot="{ errors }">
                      <input v-if="$i18n.locale === 'it'" v-model="formCompany" type="text" class="form-control" id="formCompany" placeholder="Nome Azienda">
                      <input v-else v-model="formCompany" type="text" class="form-control" id="formCompany" placeholder="Company Name">
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
               
                </div>
                <div class="form-group">
                    <label for="formCountry">{{$t('message.country')}}</label>
                    <ValidationProvider :rules="{ required: true }" v-slot="{ errors }">
                      <input v-if="$i18n.locale === 'it'" v-model="formCountry" type="text" class="form-control" id="formCountry" placeholder="Provincia">
                      <input v-else v-model="formCountry" type="text" class="form-control" id="formCountry" placeholder="Country">
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                </div>
                 <div class="form-group">
                    <label for="formText">{{$t('message.message')}}</label>
                    <ValidationProvider :rules="{ required: true }" v-slot="{ errors }">
                      <textarea v-if="$i18n.locale === 'it'" v-model="formText" type="text" class="form-control" id="formText" placeholder="Messaggio"></textarea>
                      <textarea v-else v-model="formText" type="text" class="form-control" id="formText" placeholder="Message"></textarea>
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>               
                </div>
                 <div class="form-check">
                    <ValidationProvider :rules="{ rejectsFalse: true }" v-slot="{ errors }">
                      <input v-model="formCheck" type="checkbox" class="form-check-input" id="exampleCheck1">
                      <span>{{ errors[0] }}</span>
                    </ValidationProvider>
                    <label class="form-check-label" for="exampleCheck1">{{$t('message.privacy')}}
                      <a class="linkEvidence textPrimary" :href="$t('message.privacyLink')" 
                      target="_blank" 
                      rel="noopener"><u>{{$t('message.privacyInfo')}}</u></a> {{$t('message.privacyFrom')}}</label>
                </div>
                <div class="text-center mt-4 mb-4">
                    <b-button class="btn btn-primary" :disabled="invalid" @click="sendMsg">{{$t('message.request')}}</b-button>
                </div>    

            </form>
        </ValidationObserver>
    </div>
</template>

<script>
import {
  ValidationProvider, ValidationObserver, extend, localize 
} from 'vee-validate';
import { required, email } from 'vee-validate/dist/rules';

localize({
  en: {
    messages: {
      email: 'Email is not valid',
      required: 'This field is required'
    }
  },
  it: {
    messages: {
      email: 'Indirizzo email non valido',
      required: 'Questo campo è richiesto'
    }
  }
});

extend('email', email);

extend('required', required);

extend('rejectsFalse', {
  /* eslint-disable arrow-body-style */
  validate: (value) => { return value === true; },
  message: sessionStorage.getItem('language') === 'it' ? 'Devi accettare i termini' : 'This field must be checked'
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },

  data: () => ({
    formCheck: false,
    arrayCodici: [],
    formName: sessionStorage.getItem('formName') ? sessionStorage.getItem('formName') : '',
    formEmail: sessionStorage.getItem('formEmail') ? sessionStorage.getItem('formEmail') : '',
    formNumber: sessionStorage.getItem('formNumber') ? sessionStorage.getItem('formNumber') : '',
    formCompany: sessionStorage.getItem('formCompany') ? sessionStorage.getItem('formCompany') : '',
    formText: sessionStorage.getItem('formText') ? sessionStorage.getItem('formText') : '',
    formCountry: sessionStorage.getItem('formCountry') ? sessionStorage.getItem('formCountry') : ''  
  }),

  computed: {
    getRiepilogo(){
      return this.$store.getters.getRiepilogo;
    }
  },
  mounted() {
    if (this.$i18n.locale === 'it'){
      localize('it');
    } else {
      localize('en');
    }  
  },

  methods: {
    sendMsg(){
      let stringa = '';
      /* eslint-disable no-underscore-dangle*/
      this.$_.forEach(this.getRiepilogo.fonti, (el, i) => {
        if (i !== this.getRiepilogo.fonti.length - 1){
          stringa += el.codice + ' + ';
        } else {
          stringa += el.codice;
        }
        //this.arrayCodici.push({ codice: el.codice });
      });
      const object = {};
      object.name = this.formName;
      object.emailUser = this.formEmail;
      object.number = this.formNumber;
      object.company = this.formCompany;
      object.country = this.formCountry;
      object.notes = this.formText;
      object.contenuto = stringa;

      sessionStorage.setItem('formName', this.formName);
      sessionStorage.setItem('formEmail', this.formEmail);
      sessionStorage.setItem('formCompany', this.formCompany);
      sessionStorage.setItem('formNumber', this.formNumber);
      sessionStorage.setItem('formCountry', this.formCountry);
      sessionStorage.setItem('formText', this.formText);

      console.log('[Send message]:', object);

      this.$http.post('/api/mail/configuratore-send', object)
        .then((resp) => {
          console.log('[Message sent]', resp);
          this.$emit('showAlertSuccess');
          this.$emit('close');
          //this.$router.push('/thanks');
        })
        .catch((err) => {
          console.log('Err on send message', err);
          this.$emit('close');
          this.$emit('showAlertError');

        });      
    }  

  }
};
</script>

<style>

</style>
