<template id="vue-stepper">
  <div class="stepper-inner">
    <!-- COUNTER -->
    <div class="stepper-count p-3">
      <div class="stepper-count-inner d-flex justify-content-between px-0">
        <div class="progress" :style="pBarSize">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            :style="progress"
          ></div>
        </div>
        <div
          class="step"
          v-for="(step, i) in steps"
          :key="i"
          :class="{ done: step.number < currentStep, current: step.number === currentStep }"
        >
          <div class="step-number" :id="'step-' + step.number" @click="wrapMoveStep(step.number)">
            <i v-if="step.number < currentStep" class="fas fa-check"></i>
            <span v-else>{{ step.number }}</span>
          </div>
          <div class="step-label">{{ step.label }}</div>
        </div>
      </div>     
    </div>
     <!-- Reset -->
      <div class="stepper-reset text-right" v-show="currentStep > 1">
        <button @click="reset" class="btn-link" role="button">
          <i class="fas fa-redo-alt mr-1" aria-hidden="true"></i>Reset
        </button>
      </div>
    <!-- CONTENT -->
    <div class="stepper-content text-left">
      <slot name="corpo"></slot>
      <!-- DIRECTION -->
      <div v-if="currentStep > 1" class="stepper-direction">
        <div class="stepper-direction-inner">
          <div class="col-sm-12 text-right" v-if="currentStep > 0 && currentStep <= steps.length">
            <button @click="moveStep(currentStep - 1)" class="btn btn-default" role="button">
              <i class="fas fa-chevron-left" aria-hidden="true"></i> {{ $t("message.back") }}
            </button>
            <!-- <button
              v-show="currentStep !== steps.length"
              :disabled="!conditionAvanti"
              @click="moveStep(currentStep + 1)"
              class="btn btn-primary pull-right pulse-button"
              role="button"
            >
              {{ $t("message.forward") }} <i class="fas fa-chevron-right" aria-hidden="true"></i>
            </button> -->
            <!--  <button
              v-show="currentStep === steps.length"
              :disabled="!conditionAvanti"
              @click="generaCodice"
              class="btn btn-primary  pull-right pulse-button"
              role="button"
            >
              {{ $t("message.getProductCode") }}
            </button> -->
          </div>
          <!-- <div v-show="currentStep > 1">
              <button @click="reset" class="btn btn-primary btn-block" role="button">
                Reset <i class="fas fa-refresh" aria-hidden="true"></i>
              </button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Stepper',
  props: { value: Array },
  data: () => ({ steps: [], pBarSize: '', currentStep: 1 }),
  mounted() {
    this.init();
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.calculateBarPosition);
  },
  computed: {
    progress() {
      if (this.currentStep > this.steps.length) {
        return 'width: 100%';
      }
      const first = document.getElementById('step-1');
      const current = document.getElementById(`step-${this.currentStep}`);
      if (first && current) {
        const delta = current.getBoundingClientRect().right - first.getBoundingClientRect().right;
        return `width: ${delta}px;`;
      }
      return 'width: 100%'; //aggiunto io
    },
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
    getCurrentStep() {
      return this.$store.getters.getCurrentStep;
    },
    getCurrentRoute() {
      return this.$store.getters.getCurrentRoute;
    },
    getApplicazione() {
      return this.$store.getters.getApplicazione;
    },
    getProfilo() {
      return this.$store.getters.getProfilo;
    },
    getDiffusore() {
      return this.$store.getters.getDiffusore;
    },
    getLed() {
      return this.$store.getters.getLed;
    },
    getFonte() {
      return this.$store.getters.getFonte;
    },
    getLunghezza() {
      return this.$store.getters.getLunghezza;
    },
    getFinitura() {
      return this.$store.getters.getFinitura;
    },
    getRiepilogo() {
      return this.$store.getters.getRiepilogo;
    },
    conditionAvanti() {
      let flag = false;
      /* eslint-disable no-underscore-dangle */

      if (this.currentStep <= this.steps.length) {
        //controllo se allo step corrente hanno effettuato una selezione
        if (this.getCurrentGlobal === 'principal') {
          /* eslint-disable no-underscore-dangle */
          if (this.currentStep === 1 && this.getApplicazione._id) flag = true;
          else if (this.currentStep === 2 && this.getProfilo._id) flag = true;
          else if (this.currentStep === 3 && this.getDiffusore._id) flag = true;
          else if (this.currentStep === 4 && this.getLed.potenza) {
            if (this.getLed.potenza.w && this.getLed.fascio) flag = true;
          } else if (
            this.currentStep === 4
            && (this.getDiffusore.nome === 'Blind' || this.getDiffusore.nome === 'Spot')
          ) flag = true;
          else if (this.currentStep === 5 && this.getLunghezza.lunghezza) flag = true;
          else if (this.currentStep === 6 && this.getFinitura._id) flag = true;
          else flag = false;
        } else {
          /* eslint-disable no-lonely-if */
          if (this.currentStep === 1 && this.getDiffusore._id) flag = true;
          else if (
            this.currentStep === 2
            && (this.getDiffusore.nome === 'Blind' || this.getDiffusore.nome === 'Spot')
          ) flag = true;
          else if (this.currentStep === 2 && this.getLed.potenza) {
            if (this.getLed.potenza.w && this.getLed.fascio) flag = true;
          } else if (this.currentStep === 3 && this.getLunghezza.lunghezza) flag = true;
          else if (this.currentStep === 4 && this.getFinitura._id) flag = true;
          else flag = false;
        }
      } else flag = false;

      console.log('step corrente', flag, this.currentStep);
      return flag;
    }
  },
  watch: {
    value(newVal) {
      this.init();
    },
    getCurrentStep(newVal) {
      //if (newVal === 1) this.moveStep(1);
      this.moveStep(newVal);
    }
  },
  methods: {
    init() {
      if (!this.value || this.value.length === 0) {
        return;
      }

      this.steps = this.value.map((s, i) => ({ number: i + 1, selected: false, ...s }));

      // console.log('82 stepper', this.getCurrentStep);
      if (this.getCurrentStep) this.currentStep = Number(this.getCurrentStep);
      else this.currentStep = 1;

      // console.log('153 stepper', this.currentStep, this.steps);

      this.steps[this.currentStep - 1].selected = true;
      console.log('rotta attuale', this.currentStep, this.steps[this.currentStep - 1].rotta);

      this.$nextTick(() => {
        this.calculateBarPosition();
      });

      window.addEventListener('resize', this.calculateBarPosition);
    },

    moveStep(stepNumber) {
      this.currentStep = stepNumber;
      console.log('rotta attuale', this.currentStep, this.steps[this.currentStep - 1].rotta);
      this.$store.commit('setCurrentStep', this.currentStep);
      console.log('currenGlobal', this.getCurrentGlobal);
      if (this.getCurrentGlobal === 'principal') {
        if (this.currentStep === 1) {
          this.$store.commit('setApplicazione', null);
          this.$store.commit('setProfilo', null);
          this.$store.commit('setDiffusore', null);
          this.$store.commit('setLed', null);
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 2) {
          this.$store.commit('setProfilo', null);
          this.$store.commit('setDiffusore', null);
          this.$store.commit('setLed', null);
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 3) {
          this.$store.commit('setDiffusore', null);
          this.$store.commit('setLed', null);
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 4) {
          this.$store.commit('setLed', null);
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 5) {
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 6) {
          this.$store.commit('setFinitura', null);
        }
      } else {
        /* eslint-disable no-lonely-if */
        if (this.currentStep === 1) {
          this.$store.commit('setDiffusore', null);
          this.$store.commit('setLed', null);
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 2) {
          this.$store.commit('setLed', null);
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 3) {
          this.$store.commit('setLunghezza', null);
          this.$store.commit('setFinitura', null);
        } else if (this.currentStep === 4) {
          this.$store.commit('setFinitura', null);
        }
      }
      console.log(
        'check rotta ',
        this.$route.path !== this.steps[this.currentStep - 1].rotta,
        this.$route.path,
        this.steps[this.currentStep - 1].rotta
      );
      if (this.$route.path !== this.steps[this.currentStep - 1].rotta) this.$router.push(this.steps[this.currentStep - 1].rotta);
    },

    wrapMoveStep(stepNumber) {
      if (stepNumber < this.currentStep) this.moveStep(stepNumber);
    },

    calculateBarPosition() {
      const docEl = document.documentElement;
      const first = document.getElementById('step-1');
      const rect = first.getBoundingClientRect();
      const offset = rect.left + (window.pageXOffset || docEl.scrollLeft || 0);
      const top = rect.top + rect.height / 2 - 2;
      this.pBarSize = `left: ${offset}px; right: ${offset}px; top: 32px`;
    },
    finalize() {
      this.currentStep += 1;
    },
    /* eslint-disable no-underscore-dangle */
    /*  generaCodice() {
      const length = this.getLunghezza.lunghezza; //this.getLunghezza.resto ? this.getLunghezza.lunghezza - this.getLunghezza.resto : this.getLunghezza.lunghezza;
      
      const strLength = this.$_.padStart(String(length), 5, '0');
      //generazione CODICE
      const code = this.getProfilo.codice + this.getFonte.codice + strLength + this.getFinitura.codice;
      console.log('the CODE: ', code);
      //this.$store.commit('setCodice', code);

      let obj = {};
      if (this.getCurrentGlobal === 'principal') {
        obj.applicazione = this.getApplicazione;
        obj.profilo = this.getProfilo;
        obj.fonti = [];
      } else {
        obj = this.getRiepilogo;
      }
      const objFonte = {};
      objFonte.diffusore = this.getDiffusore;
      objFonte.fonte = this.getFonte;
      objFonte.led = this.getLed;
      objFonte.lunghezza = this.getLunghezza;
      objFonte.finitura = this.getFinitura;
      objFonte.codice = code;
      obj.fonti.push(objFonte);
      this.$store.commit('setRiepilogo', JSON.stringify(obj));
      this.$router.push('/riepilogo');
    }, */
    reset() {
      this.$store.commit('setCurrentGlobal', 'principal');
      this.$store.commit('setApplicazione', null);
      this.$store.commit('setProfilo', null);
      this.$store.commit('setDiffusore', null);
      this.$store.commit('setFonte', null);
      this.$store.commit('setLed', null);
      this.$store.commit('setLunghezza', null);
      this.$store.commit('setFinitura', null);
      this.$store.commit('setFinituraProfiloPrincipale', null);
      this.moveStep(1);
    }
  }
};
</script>
