<template>
  <div>
    <select v-model="$i18n.locale">
      <option
        v-for="(lang, i) in langs"
        :key="`lang-${i}`"
        :value="lang">
          {{ lang }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'SwitchLang',
  data() {
    return { langs: ['en', 'it'] };
  },
  computed: {
    getLocale(){
      return this.$i18n.locale;
    },
    getLanguage(){
      return this.$store.getters.getLanguage;
    }
  },
  watch: {
    getLocale(newVal){
      this.$store.commit('setLanguage', newVal);
      //console.log('ora cambia lingua', newVal);
    },
    getLanguage(newVal){
      this.$i18n.locale = newVal;
      //console.log('ora cambia lingua i18n', newVal);
    },

  },
  created(){
    this.$i18n.locale = this.getLanguage;
  }
};
</script>

<style>
select {
    width: 150px;
    line-height: 49px;
    height: 38px;
    font-size: 22px;
    outline: 0;
    margin-bottom: 15px;
}
</style>
