<template>
  <div id="app" class="wrapper">
    <div id="content" :class="classContent">
      <!-- HEADER -->
      <div class="header d-flex  p-3 p-md-4">
        <!-- <a class="linkClick " @click="goToHomeAndReset"> -->
        <div class="logo mr-auto">
          <div class="logo__image">
            <img src="./assets/img/logo/estro_logo.svg" alt="" />
          </div>
          <div class="logo__text">
            <h1>• {{ $t("message.title") }}</h1>
          </div>
        </div>
        <!-- </a> -->
        <div class="link-backsite mr-3">
          <a class="text-red linkClick" href="https://www.ilmas.com">
            <b-icon-chevron-left></b-icon-chevron-left> <u>{{ $t("message.toSite") }}</u></a
          >
        </div>
        <div class="switch-lang">
          <switch-lang></switch-lang>
        </div>
      </div>
      <!-- STEPPER -->
      <div
        v-if="getCurrentGlobal === 'principal' && this.$route.name !== 'Riepilogo'"
        class="stepper"
      >
        <stepper :value="steps" ref="stepperPrincipal">
          <div slot="corpo">
            <router-view />
          </div>
        </stepper>
      </div>

      <div v-if="getCurrentGlobal === 'other' && this.$route.name !== 'Riepilogo'" class="stepper">
        <stepper :value="stepsOther" ref="stepperOther">
          <div slot="corpo">
            <router-view />
          </div>
        </stepper>
      </div>

      <div v-if="this.$route.name === 'Riepilogo'" class="stepper">
        <div slot="corpo">
          <router-view />
        </div>
      </div>

      <!-- CONTENT -->
    </div>
    <!-- SIDEBAR  -->
    <div v-if="this.$route.name !== 'Riepilogo'" id="sidebar-wrapper" class="active">
      <b-button
        v-b-toggle.sidebar-right
        id="sidebarCollapse"
        class="btn btn-primary"
        @click="sidebarAction"
      >
        {{ $t("message.summary") }}
      </b-button>
      <b-sidebar
        id="sidebar-right"
        title="Sidebar"
        sidebar-class="active"
        right
        shadow
        visible
        aria-labelledby="sidebar-no-header-title"
        no-header
        :no-close-on-route-change="true"
      >
        <div class="sidebar__content p-3 p-md-4">
          <b-button v-b-toggle.sidebar-right id="close" class="btn" @click="sidebarAction">
            <span></span>
          </b-button>
          <h2 class="mt-2">{{ $t("message.summary") }}</h2>
          <!-- <div class="text-right" v-show="getCurrentStep > 1">
                  <button @click="reset" class="btn-link" role="button">
                    <i class="fas fa-redo-alt mr-1" aria-hidden="true"></i>Reset
                  </button>
                </div> -->
          <div v-if="getCurrentStep > 0 && getCurrentGlobal === 'principal'" class="row mt-4">
            <div class="col-12">
              <h3 v-if="$i18n.locale === 'it'" class="h4">{{ $t("message.application") }}</h3>
              <h3 v-else class="h4">{{ $t("message.application") }}</h3>
              <div v-if="getApplicazione.nome">
                <div v-if="getApplicazione.descrizione_en && getApplicazione.descrizione">
                  <p v-if="$i18n.locale === 'it'">
                    {{ getApplicazione.nome + " - " + getApplicazione.descrizione }}
                  </p>
                  <p v-else>
                    {{ getApplicazione.nome_en + " - " + getApplicazione.descrizione_en }}
                  </p>
                </div>
                <div v-else>
                  <p v-if="$i18n.locale === 'it'">{{ getApplicazione.nome }}</p>
                  <p v-else>{{ getApplicazione.nome_en }}</p>
                </div>
              </div>
              <div v-else>
                <p v-if="$i18n.locale === 'it'">
                  <span class="text-help">{{ $t("message.chooseApplication") }}</span>
                </p>
                <p v-else>
                  <span class="text-help">{{ $t("message.chooseApplication") }}</span>
                </p>
              </div>
            </div>
          </div>
          <div v-else class="row mt-4">
            <div class="col-12">
              <h3 v-if="$i18n.locale === 'it'" class="h4">{{ $t("message.productCode") }}</h3>
              <h3 v-else class="h4">{{ $t("message.productCode") }}</h3>
              <h3 class="h5 ml-2">{{ getCodice }}</h3>
            </div>
          </div>
          <div class="row mt-3">
            <div v-if="getCurrentStep > 1 && getCurrentGlobal === 'principal'" class="col-9">
              <h3 v-if="$i18n.locale === 'it'" class="h4">{{ $t("message.profile") }}</h3>
              <h3 v-else class="h4">{{ $t("message.profile") }}</h3>
              <div v-if="getProfilo.codice">
                <p>{{ getProfilo.codice }}</p>
                <p v-if="checkProfili" class="profile-info">
                  <small class="mt-3 pt-3"
                    >{{ $t("message.profileMsg1", { codice: getProfilo.codice }) }} <br />
                    {{ $t("message.profileMsg2", { codice: getProfilo.codice }) }}
                  </small>
                </p>
              </div>
              <div v-else>
                <p v-if="$i18n.locale === 'it'">
                  <span class="text-help">{{ $t("message.chooseProfile") }}</span>
                </p>
                <p v-else>
                  <span class="text-help">{{ $t("message.chooseProfile") }}</span>
                </p>
              </div>
            </div>
            <div
              v-if="getCurrentStep > 1 && getCurrentGlobal === 'principal' && getProfilo.foto"
              class="col-3"
            >
              <img class="img-fluid sidebar-foto" :src="getImage(getProfilo.foto)" />
            </div>
          </div>
          <div class="row mt-3">
            <div
              v-if="
                (getCurrentStep > 2 && getCurrentGlobal === 'principal') ||
                  (getCurrentStep > 0 && getCurrentGlobal === 'other')
              "
              class="col-9"
            >
              <h3 v-if="$i18n.locale === 'it'" class="h4">{{ $t("message.diffuser") }}</h3>
              <h3 v-else class="h4">{{ $t("message.diffuser") }}</h3>
              <div v-if="getDiffusore.nome">
                <p v-if="$i18n.locale === 'it'">{{ getDiffusore.nome }}</p>
                <p v-else>{{ getDiffusore.nome_en }}</p>
              </div>
              <div v-else>
                <p v-if="$i18n.locale === 'it'">
                  <span class="text-help">{{ $t("message.chooseDiffuser") }}</span>
                </p>
                <p v-else>
                  <span class="text-help">{{ $t("message.chooseDiffuser") }}</span>
                </p>
              </div>
            </div>
            <div
              v-if="
                ((getCurrentStep > 2 && getCurrentGlobal === 'principal') ||
                  getCurrentGlobal === 'other') &&
                  getDiffusore.foto
              "
              class="col-3"
            >
              <img class="img-fluid sidebar-foto" :src="getImage(getDiffusore.foto)" />
            </div>
          </div>
          <div class="row mt-3">
            <div
              v-if="
                (getCurrentStep > 3 && getCurrentGlobal === 'principal') ||
                  (getCurrentStep > 1 && getCurrentGlobal === 'other')
              "
              class="col-12"
            >
              <h3 class="h4">LED</h3>
              <div v-if="getDiffusore.nome === 'Blind'">
                <p v-if="$i18n.locale === 'it'">{{ $t("message.blind") }}</p>
                <p v-else>{{ $t("message.blind") }}</p>
              </div>
              <div v-else-if="getDiffusore.nome === 'Spot'">
                <p v-if="$i18n.locale === 'it'">{{ $t("message.spot") }}</p>
                <p v-else>{{ $t("message.spot") }}</p>
              </div>
              <div v-else-if="getLed.k && getPotenza">
                <div v-if="getLed.fascio !== null">
                  <p v-if="$i18n.locale === 'it'">
                    {{
                      hasNumber(getLed.k) + " • " + getPotenza + " • " + " Fascio " + getLed.fascio
                    }}°
                  </p>
                  <p v-else>
                    {{
                      hasNumber(getLed.k) +
                        " • " +
                        getPotenza +
                        " • " +
                        " Beam Angle " +
                        getLed.fascio
                    }}°
                  </p>
                </div>
                <div v-else>
                  <p v-if="$i18n.locale === 'it'">{{ hasNumber(getLed.k) + " • " + getPotenza }}</p>
                  <p v-else>{{ hasNumber(getLed.k) + " • " + getPotenza }}</p>
                </div>
              </div>

              <div v-else>
                <p v-if="$i18n.locale === 'it'">
                  <span class="text-help">{{ $t("message.chooseLed") }}</span>
                </p>
                <p v-else>
                  <span class="text-help">{{ $t("message.chooseLed") }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div
              v-if="
                (getCurrentStep > 4 && getCurrentGlobal === 'principal') ||
                  (getCurrentStep > 2 && getCurrentGlobal === 'other')
              "
              class="col-12"
            >
              <h3 class="h4">{{ $t("message.length") }}</h3>
              <div v-if="!getLunghezza.lunghezza">
                <p>
                  <span class="text-help">{{ $t("message.insertLength") }}</span>
                </p>
              </div>
              <div v-if="getLunghezza.lunghezza">
                <p>
                  <span v-if="!getLunghezza.moduli_calcolati">{{ getLunghezza.lunghezza }} mm</span>
                  <span v-if="getLunghezza.moduli_calcolati"
                    >{{ getLunghezza.moduli_calcolati }} mm</span
                  >
                  <small v-if="conditionLengthParteBuia"
                    ><br />
                    {{ $t("message.lenghtBlind1", { taglio: getLunghezza.resto }) }}</small
                  >
                  <small v-if="condition7mm"
                    ><br />
                    {{ $t("message.lengthMsg6", { tappi: getLunghezza.tappi }) }}</small
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div
              v-if="
                (getCurrentStep > 5 && getCurrentGlobal === 'principal') ||
                  (getCurrentStep > 3 && getCurrentGlobal === 'other')
              "
              class="col-12"
            >
              <h3 class="h4">{{ $t("message.finish") }}</h3>
              <div class="finiture-riepilogo" v-if="!getFinitura.codice">
                <p>
                  <span class="text-help">{{ $t("message.chooseFinishing") }}</span>
                </p>
              </div>
              <div class="finiture-riepilogo" v-if="getFinitura.codice">
                <div v-if="!getFinitura.descrizione_cover">
                  <p v-if="$i18n.locale === 'it'">Cover: Nessun colore</p>
                  <p v-else>Cover: Nothing</p>
                </div>
                <div v-if="getFinitura.descrizione_cover">
                  <p v-if="$i18n.locale === 'it'">
                    Cover: {{ getFinitura.descrizione_cover }}
                    {{ getRal(getFinitura.codice_colore_cover) }}
                  </p>
                  <p v-else>
                    Cover: {{ getFinitura.descrizione_cover_en }}
                    {{ getRal(getFinitura.codice_colore_cover) }}
                  </p>
                </div>
                <div v-if="!getFinitura.descrizione_estruso">
                  <p v-if="$i18n.locale === 'it'">Profilo: Nessun colore</p>
                  <p v-else>Profile: Nothing</p>
                </div>
                <div v-if="getFinitura.descrizione_estruso">
                  <p v-if="$i18n.locale === 'it'">
                    Profilo: {{ getFinitura.descrizione_estruso }}
                    {{ getRal(getFinitura.codice_colore_estruso) }}
                  </p>
                  <p v-else>
                    Profile: {{ getFinitura.descrizione_estruso_en }}
                    {{ getRal(getFinitura.codice_colore_estruso) }}
                  </p>
                </div>
              </div>
              <!--   <p>Cover: nessuna finitura <br>
                        Profilo: Nero raggi. RAL9005</p> -->
            </div>
          </div>
        </div>
      </b-sidebar>
    </div>
  </div>
</template>
<script>
import Stepper from '@/components/Stepper.vue';
import SwitchLang from '@/components/SwitchLang.vue';

export default {
  components: {
    Stepper,
    SwitchLang
  },
  data: () => ({
    sidebarShow: true,
    steps: [],
    stepsOther: [],
    steps_it: [
      { label: 'Applicazione', rotta: '/step1' },
      { label: 'Profilo', rotta: '/step2' },
      { label: 'Diffusore', rotta: '/step3' },
      { label: 'Led', rotta: '/step4' },
      { label: 'Lunghezza', rotta: '/step5' },
      { label: 'Finitura', rotta: '/step6' }
    ],
    stepsOther_it: [
      { label: 'Diffusore', rotta: '/step3' },
      { label: 'Led', rotta: '/step4' },
      { label: 'Lunghezza', rotta: '/step5' },
      { label: 'Finitura', rotta: '/step6' }
    ],
    steps_en: [
      { label: 'Application', rotta: '/step1' },
      { label: 'Profile', rotta: '/step2' },
      { label: 'Diffuser', rotta: '/step3' },
      { label: 'Led', rotta: '/step4' },
      { label: 'Length', rotta: '/step5' },
      { label: 'Finishing', rotta: '/step6' }
    ],
    stepsOther_en: [
      { label: 'Diffuser', rotta: '/step3' },
      { label: 'Led', rotta: '/step4' },
      { label: 'Length', rotta: '/step5' },
      { label: 'Finishing', rotta: '/step6' }
    ],
    classContent: 'active'
  }),

  computed: {
    getCurrentGlobal() {
      return this.$store.getters.getCurrentGlobal;
    },
    getLanguage() {
      return this.$store.getters.getLanguage;
    },
    getCurrentPath() {
      return this.$route.name; //this.$store.getters.getCurrentPath;
    },
    getDiffusore() {
      return this.$store.getters.getDiffusore;
    },
    getApplicazione() {
      return this.$store.getters.getApplicazione;
    },
    getProfilo() {
      return this.$store.getters.getProfilo;
    },
    getLed() {
      return this.$store.getters.getLed;
    },
    getLunghezza() {
      return this.$store.getters.getLunghezza;
    },
    getFinitura() {
      return this.$store.getters.getFinitura;
    },
    getCurrentStep() {
      return this.$store.getters.getCurrentStep;
    },
    getPotenza() {
      let result = '';
      if (this.getLed.potenza) {
        const ledLocale = this.getLanguage === 'it' ? this.getLed.potenza.led_it : this.getLed.potenza.led_en;
        const unit = ['Power', 'Excel', 'Comfort C1', 'Comfort C2', 'Comfort C3', 'Spot'].indexOf(this.getDiffusore.nome) > -1 ? 'mod' : 'm';
        result = this.getLed.potenza.w + ' W/' + unit + ' • ' + ledLocale + ' • CRI ' + this.getLed.potenza.irc;
      }
      return result;
    },
    getCodice() {
      return this.$store.getters.getCodice;
    },
    getRiepilogo() {
      return this.$store.getters.getRiepilogo;
    },

    condition7mm() {
      let flag = true;
      if (this.getRiepilogo && this.getRiepilogo.fonti) {
        if (this.getRiepilogo.fonti.length >= 1) flag = false;
      }
      return flag;
    },

    checkProfili() {
      const arrayProfili = ['JH', 'JP', 'JN', 'JQ', 'JO', 'JJ', 'JG', 'JT'];
      if (arrayProfili.includes(this.getProfilo.codice)) return true;
      return false;
    },

    conditionLengthParteBuia() {
      return (
        !this.getDiffusore.nome.startsWith('Blind')
        && !this.getDiffusore.nome.startsWith('Spot')
        && this.getLunghezza.resto
      );
    }
  },
  watch: {
    getLanguage(newVal) {
      this.$i18n.locale = newVal;
      
      if (newVal === 'en') {
        this.steps = this.steps_en;
        this.stepsOther = this.stepsOther_en;
      } else {
        this.steps = this.steps_it;
        this.stepsOther = this.stepsOther_it;
      }
    },
    getCurrentPath(newVal) {
      if (newVal === 'Riepilogo') this.classContent = '';
      else this.classContent = 'active';
    },
  },
  mounted() {
    if (this.getLanguage === 'en') {
      this.steps = this.steps_en;
      this.stepsOther = this.stepsOther_en;
    } else {
      this.steps = this.steps_it;
      this.stepsOther = this.stepsOther_it;
    }
  },
  methods: {
    hasNumber(str) {
      let strOut = str;
      const regex = /\d/g;
      if (regex.test(str)) strOut = str + ' K';
      return strOut;
    },

    getRal(ral) {
      return ral || '';
    },
    goToHomeAndReset() {
      this.reset('home');
    },

    doReset() {
      this.$store.commit('setDiffusore', null);
      this.$store.commit('setFonte', null);
      this.$store.commit('setLed', null);
      this.$store.commit('setLunghezza', null);
      this.$store.commit('setFinitura', null);
      this.$store.commit('setFinituraProfiloPrincipale', null);
    },

    reset(str) {
      //console.log('qui 318', this.$route.name, str);
      if (this.$route.name !== 'Riepilogo' && str !== 'home') {
        if (this.getCurrentGlobal === 'principal') {
          console.log('con principal');
          this.$store.commit('setApplicazione', null);
          this.$store.commit('setProfilo', null);
          this.doReset();

          this.$store.commit('setCurrentStep', 1);
          //if (this.$refs.stepperPrincipal) this.$refs.stepperPrincipal.moveStep(1);
        } else {
          console.log('con other');
          this.doReset();

          this.$store.commit('setCurrentStep', 1);
          //if (this.$refs.stepperOther) this.$refs.stepperOther.moveStep(1);
        }
      } else {
        console.log('con logo');
        this.$store.commit('setApplicazione', null);
        this.$store.commit('setProfilo', null);
        this.$store.commit('setRiepilogo', null);
        this.$store.commit('setCodice', null);
        this.doReset();

        this.$store.commit('setCurrentGlobal', 'principal');
        this.$store.commit('setCurrentStep', 1);

        if (this.$route.name === 'Riepilogo') this.$router.push('/');
      }
    },

    getImage(str) {
      const imgStr = process.env.VUE_APP_CLOUDINARY_BASE_URL3 + str;
      return imgStr;
    },
    sidebarAction() {
      const element = document.getElementById('sidebar-wrapper');
      const content = document.getElementById('content');
      this.sidebarShow = !this.sidebarShow;
      //console.log('flag', this.sidebarShow);
      if (this.sidebarShow) {
        content.classList.add('active');
        element.classList.add('active');
      } else {
        element.classList.remove('active');
        content.classList.remove('active');
      }
    }
  }
};
</script>

<style>
.finiture-riepilogo p {
  margin-bottom: 0;
}
</style>
